<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Nombre o Razon Social</th>
    <th>RUC</th>
    <th>Telefono</th>
    <th>Correo</th>
    <th>Direccion</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.ruc %></td>
        <td><%= provider.phone %></td>
        <td><%= provider.email %></td>
        <td><%= provider.address %></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, provider_path(provider), {:class => "btn btn-xs bg-teal btn-flat"} %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_provider_path(provider), {:class => "btn btn-xs bg-orange btn-flat"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

