<div class="box box-success">
  <div class="box-header with-header">
    <h3 class="page-header">Proveedor</h3>
    <div class="box-body">

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-4 label-pad">
            <strong>Nombre o Razon Social: </strong>
          </div>
          <div class="col-md-8">
            <%= @provider.name %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-1 label-pad">
            <strong>RUC:</strong>
          </div>
          <div class="col-md-7">
            <%= @provider.ruc %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-4 form-group">
          <div class="col-md-3">
            <strong>Correo:</strong>
          </div>
          <div class="col-md-7 show-padding">
            <%= @provider.email %>
          </div>
        </div>

        <div class="field col-md-4 form-group">
          <div class="col-md-3">
            <strong>Direccion:</strong>
          </div>
          <div class="col-md-9">
            <%= @provider.address %>
          </div>
        </div>

        <div class="field col-md-4 form-group">
          <div class="col-md-3">
            <strong>Telefono:</strong>
          </div>
          <div class="col-md-7">
            <%= @provider.phone %>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <%= link_to 'Editar', edit_provider_path(@provider), :class => 'btn btn-primary active' %>
        <%= link_to 'Atras', providers_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
