<%= form_for service, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
            <%= f.label :name, 'Nombre:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :name, :class => 'form-control', autofocus:true, :maxlength => 40 %>
          </div>
        </div>
        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
            <%= f.label :description, 'Descripción:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :description, :class => 'form-control', :maxlength => 40  %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
            <%= f.label :measurement_unit, 'Ud. de medida:', :class => 'control-label' %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :measurement_unit, :class => 'form-control', :maxlength => 10 %>
          </div>
        </div>

        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
            <%= f.label :price, 'Precio:', :class => 'control-label' %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :price, :class => 'form-control', :maxlength => 12 %>
          </div>
        </div>
      </div>

    </div>

    <div class="box-footer">
      <div class="pull-right">
        <%= f.submit 'Guardar', :class => "btn btn-primary" %>
        <%= link_to 'Cancelar', services_path, :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>
