<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Ud. de Medida</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.price %></td>
        <td><%= service.measurement_unit %></td>
        <td>
          <% if (can? :update, Service) %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_service_path(service), {:class => "btn btn-xs bg-orange btn-flat"} %>
              <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
