<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Servicio</h3>
  </div>
    <div class="box-body">

      <div class="field col-md-12 form-group">
        <div class="field col-md-5 form-group">
          <div class="col-md-3">
            <strong>Nombre:</strong>
          </div>
          <div class="col-md-9">
            <%= @service.name %>
          </div>
        </div>

        <div class="field col-md-7 form-group">
          <div class="col-md-3">
            <strong>Descripción:</strong>
          </div>
          <div class="col-md-9">
            <%= @service.description %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-5 form-group">
          <div class="col-md-3">
            <strong>Precio:</strong>
          </div>
          <div class="col-md-9">
            <%= @service.price %>
          </div>
        </div>
        <div class="field col-md-7 form-group">
          <div class="col-md-3">
            <strong>Ud. de Medida:</strong>
          </div>
          <div class="col-md-9">
            <%= @service.measurement_unit %>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <% if (can? :update, Service) %>
        <%= link_to 'Editar', edit_service_path(@service), :class => 'btn btn-primary active' %>
            <% end %>
        <%= link_to 'Atras', services_path, :class => 'btn btn-default' %>
      </div>
    </div>

</div>