<div class="box box-success">
  <div class="box-header with-border box-success">
    <h3 class="box-title">Auditoría</h3>
    </div>
  <div class="box-body">
    <%= form_tag(audit_index_path, :method=>'get') do %>
        <p>
          <b>Inicio:</b>
          <%= text_field_tag "inicio", "", :class => 'datepicker', value: params[:inicio] %>
          <b>Fin:</b>
          <%= text_field_tag "fin", "", :class => 'datepicker', value: params[:fin] %>
          <%= submit_tag 'filtrar' %>
        </p>
    <% end %>
    <div class="overlay-wrapper searchResult table-responsive" id="audits-table">
      <%= render 'list', :audits => @audits %>
    </div>
  </div>
  <div class="box-footer clearfix">
    <div id="paginate-container">
      <ul class="pagination pagination-sm no-margin pull-right">
        <%= paginate @audits %>
      </ul>
    </div>
  </div>
</div>