<%= form_for employee, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :name, 'Nombre:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :name, :class => 'form-control', autofocus:true, :maxlength => 30 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :last_name, 'Apellido:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-7">
            <%= f.text_field :last_name, :class => 'form-control', autofocus:true, :maxlength => 30 %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :identification_document, 'CI:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :identification_document, id:'ci', :class => 'form-control' %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :email, 'Correo:', :class => 'control-label' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :email, :class => 'form-control', :maxlength => 50 %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :address, 'Direccion:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.text_area :address, :class => 'form-control', :maxlength => 150 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :phone, 'Telefono:', :class => 'control-label' %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :phone, id: 'phone', :class => 'form-control', :maxlength => 12 %>
          </div>
        </div>
      </div>
    </div>

    <div class="box-footer clearfix">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i></button>
        <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, employees_path, :class => 'btn btn-default', :title => 'Atrás' %>
      </div>
    </div>
<% end %>