<%= form_for employee, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
            <%= f.label :name, 'Nombre:', :class => 'control-label' %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :name, :class => 'form-control', autofocus:true, :maxlength => 30 %>
          </div>
        </div>

        <div class="field col-md-6 form-group required">
          <div class="col-md-2">
            <%= f.label :last_name, 'Apellido:', :class => 'control-label' %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :last_name, :class => 'form-control', autofocus:true, :maxlength => 30 %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
            <%= f.label :identification_document, 'CI:', :class => 'control-label' %>
          </div>
          <div class="col-md-5">
            <%= f.number_field :identification_document, :class => 'form-control', :maxlength => 10 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :email, 'Correo:', :class => 'control-label' %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :email, :class => 'form-control', :maxlength => 30 %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :address, 'Direccion:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :address, :class => 'form-control', :maxlength => 50 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :phone, 'Telefono:', :class => 'control-label' %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :phone, id: 'phone', :class => 'form-control', :maxlength => 12 %>
          </div>
        </div>
      </div>
    </div>

    <div class="box-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', :class => "btn btn-primary" %>
        <%= link_to 'Cancelar', employees_path, :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>