<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.employee.list') %></h3>
  </div>
  <div class="box-body">

    <div class="field col-md-12 form-group">
      <div class="field col-md-8 form-group">
        <strong>Nombre y Apellido:</strong>
        <%= @employee.name_with_initial%>
      </div>

      <div class="field col-md-4 form-group">
        <strong>Documento:</strong>
        <%= @employee.identification_document %>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <strong>Correo:</strong>
        <%= @employee.email %>
      </div>

      <div class="field col-md-4 form-group">
        <strong>Dirección:</strong>
        <%= @employee.address %>
      </div>

      <div class="field col-md-4 form-group">
        <strong>Teléfono:</strong>
        <%= @employee.phone %>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <div class="pull-right">
      <% if (can? :update, Employee) %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_employee_path(@employee), :class => 'btn bg-orange' %>
      <% end %>
      <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, employees_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Cuenta Corriente</h3>
  </div>
  <div class="box-body">
    <div class="field col-md-12 form-group">
      <div class="field col-md-8 form-group">
        <strong>Saldo Total:</strong>
        <%= number_to_currency(@employee.balance, unit: "Gs.", separator: ".", precision: 0) %>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered table-condensed", cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Contrato</th>
          <th>Monto Certificado</th>
          <th>Fecha de certificación</th>
          <th>Fecha de pago</th>
          <th>N° de recibo</th>
          <th>Estado del pago</th>
        </tr>
        </thead>
        <tbody>
            <% @account_details.each do |account| %>
                <tr>
                  <td><%= account.account_employee.contract_name%></td>
                  <td><%= number_to_currency(account.total, unit: "Gs.", separator: ".", precision: 0) %></td>
                  <td><%= account.certification.date %></td>
                  <td><%= account.date %></td>
                  <td><%= account.number_bill %></td>
                  <td><%= account.state %></td>
                <tr>
            <% end %>


        </tbody>
      </table>
    </div>
  </div>
</div>