<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Identification document:</strong>
  <%= @employee.identification_document %>
</p>

<% if (can? :update, Employee) %>
  <%= link_to 'Edit', edit_employee_path(@employee) %>
<% end %>
<%= link_to 'Back', employees_path %>
