<%= nested_form_for rubro, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :name, 'Nombre:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :name, :maxlength => 40, :class => 'form-control' %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :utility, 'Utilidad:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :utility, :class => 'form-control maskPercentage' %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :measurement_unit, 'Ud. medida:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :measurement_unit, :maxlength => 35, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Materiales</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered" id="material-table">
              <tr>
                <th class="col-md-3">Material</th>
                <th class="col-md-1">Unidad</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-2">Cantidad</th>
                <th class="col-md-2">Subtotal</th>
                <th class="col-md-1"></th>
              </tr>
              <tbody id="material-details-body">
              <%= f.fields_for :rubro_material_details, :wrapper => false do |form| %>
                   <tr class="fields">
                    <td class="col-md-3"><%=form.collection_select(:material_id, Material.all, :id, :name, {prompt: 'Seleccionar'}, class: 'form-control select2 material-search')%></td>
                     <td class="col-md-2"><%=form.text_field :measurement_unit, class: 'form-control measurement text-right', readonly: true%></td>
                     <td class="col-md-2"><%=form.text_field :price, class: 'form-control maskMoneda unit-price text-right', readonly: true%></td>
                     <td class="col-md-2"><%=form.text_field :quantity, class: 'form-control qty text-right'%></td>
                     <td class="subtotal text-right maskMoneda"><%= form.object.subtotal ? form.object.subtotal : 0 %></td>
                    <td class="col-md-1"><%=form.link_to_remove '<i class="fa  fa-trash-o"></i>'.html_safe, class: 'btn btn-sm btn-danger', title:'Eliminar'%></td>
                  </tr>
              <% end %>
              <tr>
                <td><%=f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :rubro_material_details, class: 'btn btn-sm btn-success insert_in_table', title:'Agregar'%></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="col-md-10">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Servicios</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered" id="service-table">
              <tr>
                <th class="col-md-3">Servicio</th>
                <th class="col-md-2">Unidad</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-2">Cantidad</th>
                <th class="col-md-2">Subtotal</th>
                <th class="col-md-1"></th>
              </tr>
              <tbody id="service-details-body">
              <%= f.fields_for :rubro_service_details, :wrapper => false do |form| %>
                  <tr class="fields">
                    <td class="col-md-3"><%=form.collection_select(:service_id, Service.all, :id, :name, {prompt: 'Seleccionar'}, class: 'form-control select2 service-search')%></td>
                    <td class="col-md-2"><%=form.text_field :measurement_unit, class: 'form-control measurement', readonly: true%></td>
                    <td class="col-md-2"><%=form.text_field :price, class: 'form-control maskMoneda unit-price text-right', readonly: true%></td>
                    <td class="col-md-2"><%=form.text_field :quantity, class: 'form-control qty text-right'%></td>
                    <td class="subtotal text-right maskMoneda"><%= form.object.subtotal ? form.object.subtotal : 0 %></td>
                    <td class="col-md-1"><%=form.link_to_remove '<i class="fa  fa-trash-o"></i>'.html_safe, class: 'btn btn-sm btn-danger', title:'Eliminar'%></td>
                  </tr>
              <% end %>
              <tr>
                <td><%=f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :rubro_service_details, class: 'btn btn-sm btn-success insert_in_table', title:'Agregar'%></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="box-footer">
      <div class="pull-right">
        <% if controller.action_name == 'edit'  %>
            <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i></button>
        <% else %>
            <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i></button>
        <% end %>
        <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe,  rubros_path , class: 'btn btn-default', title:'Atrás' %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  Rubro.setSearchMaterial('<%= materials_search_path %>');
  Rubro.setSearchService('<%= services_search_path %>');
</script>
