<%= nested_form_for rubro, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :name, 'Nombre:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :name, :maxlength => 40, :class => 'form-control' %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :utility, 'Utilidad(%):', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.number_field :utility, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :measurement_unit, 'Unidad de medida:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :measurement_unit, :maxlength => 35, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Materiales</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered">
              <tr>
                <th class="col-md-3">Material</th>
                <th class="col-md-1">Ud. Medida</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-2">Cantidad</th>
                <th class="col-md-2">Subtotal</th>
                <th class="col-md-1"></th>
              </tr>
              <tbody id="material-details-body">
              <%= f.fields_for :rubro_material_details, :wrapper => false do |form| %>
                   <tr class="fields" onchange='getMaterialTotal(this);'>
                    <td class="col-md-3"><%=form.collection_select(:material_id, Material.all, :id, :name, {prompt: 'Seleccionar'}, :onchange => 'getMaterialPrice(this);', class: 'form-control select2 material-search')%></td>
                     <td class="col-md-2"><%=form.text_field :measurement_unit, class: 'form-control measurement_unit', readonly: true%></td>
                     <td class="col-md-2"><%=form.number_field :price, class: 'form-control price', readonly: true%></td>
                     <td class="col-md-2"><%=form.number_field :quantity, class: 'form-control quantity'%></td>
                     <td class="col-md-2"><%=form.number_field :subtotal, class: 'form-control total', readonly: true%></td>
                    <td class="col-md-1"><%=form.link_to_remove '<i class="fa  fa-trash-o"></i>'.html_safe, class: 'btn btn-danger'%></td>
                  </tr>
              <% end %>
              <tr>
                <td><%=f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :rubro_material_details, class: 'btn btn-success insert_in_table'%></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="col-md-10">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Servicios</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered">
              <tr>
                <th class="col-md-3">Servicio</th>
                <th class="col-md-2">Ud. Medida</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-2">Cantidad</th>
                <th class="col-md-2">Subtotal</th>
                <th class="col-md-1"></th>
              </tr>
              <tbody id="service-details-body">
              <%= f.fields_for :rubro_service_details, :wrapper => false do |form| %>
                  <tr class="fields" onchange='getServiceTotal(this);'>
                    <td class="col-md-3"><%=form.collection_select(:service_id, Service.all, :id, :name, {prompt: 'Seleccionar'}, :onchange => 'getServicePrice(this);', class: 'form-control select2 service-search')%></td>
                    <td class="col-md-2"><%=form.text_field :measurement_unit, class: 'form-control measurement_unit', readonly: true%></td>
                    <td class="col-md-2"><%=form.number_field :price, class: 'form-control price', readonly: true%></td>
                    <td class="col-md-2"><%=form.number_field :quantity, class: 'form-control quantity'%></td>
                    <td class="col-md-2"><%=form.number_field :subtotal, class: 'form-control total', readonly: true%></td>
                    <td class="col-md-1"><%=form.link_to_remove '<i class="fa  fa-trash-o"></i>'.html_safe, class: 'btn btn-danger'%></td>
                  </tr>
              <% end %>
              <tr>
                <td><%=f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :rubro_service_details, class: 'btn btn-success insert_in_table'%></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="box-footer">
      <div class="pull-right">
        <% if controller.action_name == 'edit'  %>
            <%= f.submit 'Guardar', :class => "btn btn-primary active" %>
        <% else %>
            <%= f.submit 'Guardar', :class => 'btn btn-primary active'%>
        <% end %>
        <%= link_to 'Cancelar',  rubros_path , class: 'btn btn-default' %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  Rubro.setSearchMaterial('<%= materials_search_path %>');
  Rubro.setSearchService('<%= services_search_path %>');
</script>
