<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= "Rubro" %></h3>
  </div>
  <div class="box-body">
    <div class="col-md-12 form-group">
      <div class="col-sm-3 show-padding">
        <strong>Nombre:</strong>
        <%= @rubro.name %>
      </div>
      <div class="col-sm-3 show-padding">
        <strong>Unidad de medida:</strong>
        <%= @rubro.measurement_unit %>
      </div>
      <div class="col-sm-3 show-padding">
        <strong>Utilidad:</strong>
        <%= number_to_percentage(@rubro.utility, precision: 2) %>
      </div>
      <div class="col-sm-3 show-padding">
        <strong>Precio:</strong>
        <%= number_to_currency_py(@rubro.final_price.to_i) %>
      </div>
    </div>

    <div class="col-md-12 form-group">
      <div class="col-md-8">
        <table class="table table-bordered table-condensed table-list">
          <thead>
          <tr>
            <th>Material</th>
            <th>Unidad</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          </thead>
          <tbody>
          <% @rubro.rubro_material_details.each do |detalle| %>
          <tr>
              <td><%= detalle.material.name %></td>
              <td><%= detalle.material.measurement_unit %></td>
              <td><%= number_to_currency_py(detalle.material.price.to_i) %></td>
              <td><%= number_with_precision(detalle.quantity, precision: 2) %></td>
              <td><%= number_to_currency_py(detalle.subtotal.to_i) %></td>
          </tr>
          <% end %>
          </tbody>
          <thead>
          <tr>
            <th>Servicio</th>
            <th>Unidad</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          </thead>
          <tbody>
          <% @rubro.rubro_service_details.each do |detalle| %>
          <tr>
              <td><%= detalle.service.name %></td>
              <td><%= detalle.service.measurement_unit %></td>
              <td><%= number_to_currency_py(detalle.service.price.to_i) %></td>
              <td><%= number_with_precision(detalle.quantity, precision: 2) %></td>
              <td><%= number_to_currency_py(detalle.subtotal.to_i) %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="box-footer">
    <div class="pull-right">
      <% if (can? :update, Rubro) %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_rubro_path(@rubro), {:class => "btn  bg-orange", :title => "Editar"} %>
      <% end %>
      <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, url_for(:back), {:class => "btn btn-default", :title => "Atrás"} %>
    </div>
  </div>
</div>