<%= form_for(contract) do |f| %>
    <% if contract.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contratc from being saved:</h2>

          <ul>
            <% contract.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <form class="form-horizontal">

        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-md-4">
              <%= f.label :name, 'Nombre de la obra:', :class => 'control-label' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :name, :class => 'form-control', autofocus:true %>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="col-md-4">
              <%= f.label :client, 'Cliente:', :class => 'control-label' %>
            </div>
            <div class="col-md-8">
              <%= f.collection_select :client_id, Client.all.order('name'), :id, :full_name, {prompt: "Ninguno"} ,:class => 'btn btn-default'%>
            </div>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-md-4">
              <%= f.label :start_date, 'Inicio de ejecución:', :class => 'control-label' %>
            </div>
            <div  class="input-group col-md-5">
              <%= f.text_field :start_date, :id => 'datepickerFrom', :class => 'input-group date form-control' %><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="col-md-4">
              <%= f.label :end_date, 'Fin de Ejecución:', :class => 'control-label' %>
            </div>
            <div class="input-group col-md-5">
              <%= f.text_field :end_date, :id => 'datepickerTo', :class => 'input-group date form-control',  data: { date_format: 'dd-mm-yyyy' }%><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-md-4">
              <%= f.label :amount, 'Monto:', :class => 'control-label' %>
            </div>
            <div class="col-md-8">
              <%= f.number_field :amount, :class => 'form-control' %>
            </div>
          </div>

          <div class="field col-md-12 form-group">
          </div>

          <div class="field col-md-12 form-group">
            <% if controller.action_name == 'edit'  %>
                <%= f.submit 'Guardar', :class => "btn btn-primary" %>
            <% else %>
                <%= f.submit 'Agregar', :class => 'btn btn-primary'%>
            <% end %>
            <%= link_to 'Cancelar',  contracts_path , class: 'btn btn-default' %>
<% end %>
</div>

</div>
</form>
</div>


