<%= form_for contract, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :name, 'Nombre de la obra:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :name, :class => 'form-control', autofocus:true, :maxlength => 50 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :client, 'Cliente:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-md-5">
            <%= f.collection_select :client_id, Client.all.order('name'), :id, :name, {prompt: "Ninguno"}, :value => params[:client_id] ,:class => 'btn btn-default'%>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :start_date, 'Inicio de ejecución:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :start_date, :id => 'datepickerFrom', :value => params[:date], :class => 'input-group date form-control datepicker', :readonly => true %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :end_date, 'Fin de Ejecución:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :end_date, :id => 'datepickerTo', :class => 'input-group date form-control datepicker', :readonly => true %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :amount, 'Monto:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-md-5">
            <%= f.number_field :amount, :value => params[:total], :class => 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="box-footer clearfix">
      <div class="pull-right">
        <%= f.submit 'Guardar', :class => 'btn btn-primary'%>
        <%= link_to 'Cancelar',  contracts_path , class: 'btn btn-default' %>
      </div>
    </div>
<% end %>
