<%= form_for contract, validate: true, :html => {class: 'form-horizontal'} do |f| %>
    <div class="box-body">
      <div class="row">
        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-sm-2 label-pad">
              <strong>Obra:</strong>
            </div>
            <div class="col-md-9 show-padding">
              <span><%= contract.budget_name %></span>
            </div>
          </div>
          <div class="field col-md-6 form-group">
            <div class="col-sm-2 label-pad">
              <strong>Monto:</strong>
            </div>
            <div class="col-md-5 show-padding">
              <span><%= number_to_currency_py(contract.budget_total_amount) %></span>
            </div>
          </div>
        </div>
        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-sm-2 label-pad">
              <strong>Cliente:</strong>
            </div>
            <div class="col-md-9 show-padding">
              <span><%= contract.budget_client_name %></span>
            </div>
          </div>
          <div class="field col-md-6 form-group">
            <div class="col-sm-2 label-pad">
              <strong>RUC:</strong>
            </div>
            <div class="col-md-9 show-padding">
              <span><%= contract.budget_client_ruc %></span>
            </div>
          </div>
        </div>


        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-md-4 col-lg-4">
              <%= f.label :start_date, 'Inicio de ejecución:', :class => 'control-label  tooltip_required' %>
            </div>
            <div class="input-group col-sm-5" style="padding-left: 14px">
              <%= f.text_field :start_date, :id => 'datepickerFrom', :class => ' date form-control datepicker' %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="col-md-4 col-lg-4">
              <%= f.label :end_date, 'Fin de Ejecución:', :class => 'control-label  tooltip_required' %>
            </div>
            <div class="input-group col-sm-5" style="padding-left: 14px">
              <%= f.text_field :end_date, :id => 'datepickerTo', :class => ' date form-control datepicker' %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="col-md-6 form-group">
            <div class="col-sm-4 label-pad">
              <%= f.label :attachment, 'Adjuntar documento:', class: 'control-label' %>
            </div>
              <div class="col-md-6">
                <%= f.file_field :attachment, :class => 'file-style form-control'%>
                <p class="help-block">Se aceptan archivos PDF, DOC y DOCX.</p>
              </div>
            </div>
        </div>

        <div class="field col-md-12 form-group" style="padding-left: 30px">
          <%= f.check_box :has_advance_payment, :id => 'has_advance_payment' %>
          <span>Registrar anticipo</span>
        </div>

        <%= f.hidden_field :budget_id, :class => 'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="advance_payment_section" class="box box-success" style="display: none">
            <div class="box-header with-border">
              <h3 class="box-title">Anticipo</h3>
            </div>
            <div class="box-body">
              <div class="field col-md-12 form-group">
                <div class="field col-md-6 form-group ">
                  <div class="col-sm-3">
                    <%= f.label :advance_payment_voucher, 'Nro. de Factura:', :class => 'control-label' %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.text_field :advance_payment_voucher, :id=> 'bill', :class => 'form-control', :maxlength => 30 %>
                  </div>
                </div>
                <div class="field col-md-6 form-group">
                  <div class="col-md-3">
                    <%= f.label :date, 'Fecha:', :class => 'control-label' %>
                  </div>
                  <div class="input-group col-md-5">
                    <%= f.text_field :advance_payment_date, :class => 'input-group date form-control datepicker' %>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="box-body">
              <div class="field col-md-12 form-group">
                <div class="field col-md-6 form-group ">
                  <div class="col-sm-3">
                    <%= f.label :advance_payment_percentage, 'Porcentage:', :class => 'control-label' %>
                  </div>
                  <div class="col-sm-3 ">
                    <%= f.text_field :advance_payment_percentage, :id => 'calculate-with-percentage', :class => 'form-control maskPercentage'%>
                  </div>
                </div>
                <div class="field col-md-6 form-group ">
                  <div class="col-sm-3">
                    <%= f.label :advance_payment, 'Monto:', :class => 'control-label  tooltip_required' %>
                  </div>
                  <div class="col-sm-5 ">
                    <%= f.text_field :advance_payment, :id => 'calculate-with-amount',:class => 'form-control maskMoneda' %>
                  </div>
                </div>
                <span id="contract-amount" style="display: none"><%=contract.budget_total_amount%></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-footer clearfix">
        <div class="pull-right">
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
          <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, contracts_path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
<% end %>
