<table class="table table-bordered table-condensed table-list">
  <thead>
  <tr>
    <th>Obra</th>
    <th>Cliente</th>
    <th>Fecha de inicio</th>
    <th>Fecha de fin</th>
    <th>Monto</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% contracts.each do |contract| %>
      <tr>
        <td><%= contract.name %></td>
        <td>
          <%= contract.budget_client_name %> </td>
        <td><%= contract.budget.nil? ? '' : contract.start_date %></td>
        <td><%= contract.end_date %></td>
        <td><%= number_to_currency_py(contract.amount) %></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, contract_path(contract), {:class => "btn btn-xs bg-teal btn-flat"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
