<div class="panel panel-default">
  <h1 class="panel-heading">Lista de Contratos
    <%= link_to new_contract_path, class: 'btn btn-success active', title: 'Nuevo', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
        <span class= "fa fa-plus"></span>
    <% end %></h1>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="table" class="display table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Obra</th>
          <th>Cliente</th>
          <th>Fecha de inicio</th>
          <th>Fecha de fin</th>
          <th>Monto</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @contracts.each do |contract| %>
            <tr>
              <td><%= contract.name %></td>
              <td><%= contract.client.name %> <%= contract.client.last_name %></td>
              <td><%= contract.start_date %></td>
              <td><%= contract.end_date %></td>
              <td><%= contract.amount %></td>
              <td><%= link_to contract, class: 'btn btn-info active', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "fa fa-eye"></span>
                <% end %>
                <%= link_to edit_contract_path(contract), class: 'btn btn-success active', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "fa fa-edit"></span>
                <% end %>
                <%= link_to contract, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este registro?' }, class: 'btn btn-danger active', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "fa fa-trash"></span>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
