<div class="box box-success">
  <div class="box-header with-border box-success">
    <h3 class="box-title"><%= t('helpers.title.contract.list') %></h3>
    <% if (can? :create, Contract) %>
        <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_contract_path, {:class => "btn btn-sm btn-flat bg-green btn-title", :title => "Agregar Contrato"} %>
    <% end %>
  </div>
  <div class="box-body">
    <div class="contract-search searchList">
      <%= search_form_for(@q, remote: true, :html => { class: 'remote-search' }) do |f| %>
          <div class="input-group">
            <%= f.text_field :name_or_client_name_or_client_ruc_cont, class: 'form-control', autocomplete: 'off', placeholder: 'Busca por nombre de la obra o nombre/ruc del cliente' %>
            <div class="input-group-btn">
              <button type="submit" name="button" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
      <% end %>
    </div>
    <div class="overlay-wrapper searchResult table-responsive" id="contracts-table">
      <%= render 'list', :contracts => @contracts %>
    </div>
  </div>
  <div class="box-footer clearfix">
    <div id="paginate-container">
      <ul class="pagination pagination-sm no-margin pull-right">
        <%= paginate @contracts %>
      </ul>
    </div>
  </div>
</div>