<div class="box box-success">
  <div class="box-header">
    <h3 class="box-title"><strong><%= @contract.name %></strong></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="field col-md-6 form-group">
            <div class="field col-md-4">
              <strong>Cliente:</strong>
            </div>
            <div class="field col-md-8 show-padding">
              <%= @contract.budget_client_name %>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="field col-md-4">
              <strong>Monto:</strong>
            </div>
            <div class="field col-md-8 show-padding">
              <%=  number_to_currency_py(@contract.amount)  %>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="field col-md-4">
              <strong>Fecha de inicio:</strong>
            </div>
            <div class="field col-md-8 show-padding">
              <%= @contract.start_date %>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="field col-md-4">
              <strong>Fecha de fin:</strong>
            </div>
            <div class="field col-md-8 show-padding">
              <%= @contract.end_date  %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <div class="pull-right">
        <% if (can? :update, Contract) %>
            <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_contract_path(@contract), {:class => "btn  bg-orange"} %>
        <% end %>
        <%= link_to  "<i class=\"fa fa-arrow-left\"></i>".html_safe, url_for(:back), {:class => "btn  btn-default"} %>
      </div>
    </div>

  </div>
</div>

<div class="box box-success">
  <div class="box-body">
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#budgets" data-toggle="tab" aria-expanded="true">Presupuesto</a>
        </li>
        <li class=""><a href="#material-movements" data-toggle="tab" aria-expanded="false">Movimientos de Materiales</a>
        </li>
        <li class=""><a href="#client-certifications" data-toggle="tab" aria-expanded="false">Certificaciones del cliente</a>
        </li>
        <li class=""><a href="#certifications" data-toggle="tab" aria-expanded="false">Certificaciones Internas</a>
        </li>
        <li class=""><a href="#bills" data-toggle="tab" aria-expanded="false">Facturación</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade active in" id="budgets">
          <div class="box-header with-border box-success">
            <h3 class="box-title"><%= t('helpers.title.budget.list') %></h3>
          </div>
          <br>
          <table class="table table-bordered table-condensed table-list col-md-12">
            <thead>
              <tr>
                <th class="col-md-3">Rubro</th>
                <th class="col-md-1">Ud. Medidad</th>
                <th class="col-md-2">Costo</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-1">Cantidad</th>
                <th class="col-md-1">% Utilidad</th>
                <th class="col-md-2">Sub Total</th>
              </tr>
            </thead>
            <tbody>
              <% @budget_details.each do |budget_detail| %>
                  <tr class="fields ">
                    <td><%= budget_detail.rubro_name %></td>
                    <td><%= budget_detail.rubro_measurement_unit %></td>
                    <td><%= number_to_currency_py(budget_detail.cost) %></td>
                    <td><%= number_to_currency_py(budget_detail.price) %></td>
                    <td><%= budget_detail.certified_quantity %></td>
                    <td><%= budget_detail.utility %></td>
                    <td><%= number_to_currency_py(budget_detail.subtotal) %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
          <div id="paginate-container">
            <ul class="pagination pagination-sm no-margin pull-right">
              <%= paginate @budget_details %>
            </ul>
          </div>
        </div>
        <div class="tab-pane fade" id="material-movements">
          <div class="box-header with-border box-success">
            <h3 class="box-title"><%= t('helpers.title.material_movement.list') %></h3>
            <% if (can? :create, MaterialMovement) %>
                <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_material_movement_path({contract_id: @contract.id}), {:class => "btn btn-sm  bg-green btn-title", :title => "Agregar Movimiento"} %>
            <% end %>
          </div>
          <br>
          <table class="table table-bordered table-condensed table-list col-md-12">
            <thead>
            <tr>
              <th>Fecha</th>
              <th>Motivo</th>
              <th class="table-actions"></th>
            </tr>
            </thead>
            <tbody>
            <% @material_movements.each do |material_movement| %>
                <tr class="fields">
                  <td><%= material_movement.date %></td>
                  <td><%= material_movement.reason %></td>
                  <td>
                    <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, material_movement_path(material_movement), {:class => "btn btn-xs bg-teal"} %>
                    <% if (can? :update, MaterialMovement) %>
                        <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_material_movement_path(material_movement), {:class => "btn btn-xs bg-orange"} %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div id="paginate-container">
            <ul class="pagination pagination-sm no-margin pull-right">
              <%= paginate @material_movements %>
            </ul>
          </div>
        </div>

        <div class="tab-pane fade" id="client-certifications">
          <div class="box-header with-border box-success">
            <h3 class="box-title"><%= t('helpers.title.client_certification.list') %></h3>
            <% contador = 0; %>
            <% @contract.budget_details.each do |pr| %>
                <% if pr.state == 'pending' %>
                  <% contador += 1; %>
                <% end %>
            <% end %>
            <% @contract.budget_details.each do |bu| %>
                <% if bu.state == 'pending' %>
                    <% if (can? :create, ClientCertification) %>
                        <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_client_certification_path({contract_id: @contract.id}), {:class => "btn btn-sm bg-green btn-title", :title => "Agregar Certificación"} %>
                    <% end %>
                    <% break %>
              <% end %>
            <% end %>
            <% if contador == 0 %>
                <span class="fa fa-check" style="color:green"></span>
            <% end %>
          </div>
          <br>
          <table class="table table-bordered table-condensed table-list col-md-12">
            <thead>
            <tr>
              <th>Fecha</th>
              <th>Recibido</th>
              <th class="table-actions"></th>
            </tr>
            </thead>
            <tbody>
            <% @client_certifications.each do |client_certification| %>
                <tr class="fields ">
                  <td><%= client_certification.date %></td>
                  <td><%= client_certification.received %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div id="paginate-container">
            <ul class="pagination pagination-sm no-margin pull-right">
              <%= paginate @client_certifications %>
            </ul>
          </div>
        </div>
        <div class="tab-pane fade" id="certifications">
          <div class="box-header with-border box-success">
            <div class="form-group">
              <h3 class="box-title"><%= t('helpers.title.certification.list') %></h3>
              <% if (can? :create, Certification) %>
                  <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_certification_path({contract_id: @contract.id}), {:class => 'btn btn-sm bg-green btn-title', :title => "Agregar Certificación"} %>
              <% end %>
              <% if @approved.any? { |element| element == Certification.states.keys[2]} %>
                  <%= link_to 'Generar Pago', edit_account_employee_path(@account_employee.first), class:'btn btn-sm  bg-blue' %>
              <% end %>
            </div>
          </div>

          <%= render 'certifications/list', :certifications => @internal_certifications %>
          <div id="paginate-container">
            <ul class="pagination pagination-sm no-margin pull-right">
              <%= paginate @internal_certifications %>
            </ul>
          </div>
        </div>
        <div class="tab-pane fade" id="bills">
          <div class="box-header with-border box-success">
            <h3 class="box-title"><%= t('helpers.title.sale_bill.list') %></h3>
            <% if (can? :create, SaleBill) %>
                <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_sale_bill_path({contract_id: @contract.id}), {:class => "btn btn-sm  bg-green btn-title", :title => "Agregar Factura"} %>
            <% end %>
          </div>
          <br>
          <table class="table table-bordered table-condensed table-list col-md-12">
            <thead>
            <tr>
              <th>Fecha</th>
              <th>Nro. Factura</th>
              <th>Condicion</th>
              <th>Monto</th>
              <th class="table-actions"></th>
            </tr>
            </thead>
            <tbody>
            <% @sale_bills.each do |sale_bill| %>
                <tr class="fields ">
                  <td><%= sale_bill.date %></td>
                  <td><%= sale_bill.number %></td>
                  <td><%= sale_bill.condition %></td>
                  <td><%= number_to_currency_py(sale_bill.total) %></td>
                  <td>
                    <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, sale_bill_path(sale_bill), {:class => "btn btn-xs bg-teal", :title => "Ver detalles"} %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div id="paginate-container">
            <ul class="pagination pagination-sm no-margin pull-right">
              <%= paginate @client_certifications %>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
