<%=nested_form_for budget, validate: true, :html => { class: 'form-horizontal' } do |f| %>

    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-4 form-group ">
          <div class="col-sm-4">
            <%= f.label :name, 'Nombre:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-sm-8 ">
            <%= f.text_field :name, :class => 'form-control', autofocus:true, :maxlength => 50 %>
          </div>
        </div>
        <div class="field col-md-4 form-group">
          <div class="col-sm-2">
            <%= f.label :client_id,  'Cliente:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-sm-7">
            <div class="input-group">
              <%= f.collection_select(:client_id, Client.all, :id, :name, {prompt: 'Buscar Cliente'}, :class => 'form-control select2 people-search') %>
              <span class="input-group-btn">
                <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_client_path, {:class => "btn btn-flat bg-green", :title => "Agregar Cliente"} %>
              </span>
            </div>
          </div>
        </div>
        <div class="field col-md-4 form-group">
          <div class="col-sm-4">
            <%= f.label :date, 'Fecha:', :class => 'control-label tooltip-required' %>
          </div>
          <div class="input-group col-sm-5" style="padding-left: 14px">
            <%= f.text_field :date, :id => 'datepickerFrom', :class => 'date form-control datepicker'%><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <br>
        <div class="field col-md-6 form-group ">
          <div class="col-sm-4">
            <%= f.label :description, 'Descripcion:', :class => 'control-label' %>
          </div>
          <div class="col-sm-8 ">
            <%= f.text_area :description, :class => 'form-control', cols: "30", rows: "5", :maxlength => 200 %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
        <div class="box box-success">
          <div class=" box-body">
            <div class="col-sm-12">
              <table class="table table-bordered table-condensed" id="rubro-table">
                <thead>
                <tr>
                  <th class="col-md-2">Rubro</th>
                  <th class="col-md-1">Ud Medida</th>
                  <th class="col-md-2">Costo</th>
                  <th class="col-md-2">Precio</th>
                  <th class="col-md-1">Cantidad</th>
                  <th class="col-md-1">% Utilidad</th>
                  <th class="col-md-2">Sub Total</th>
                  <th class="col-md-1"> </th>
                </tr>
                </thead>
                <tbody id="details-body">
                <%= f.fields_for :budget_details, :wrapper => false do |form| %>
                    <tr class="fields" onchange='getBudgetTotal(this);'>
                      <td>
                        <%= form.collection_select :rubro_id, Rubro.all, :id, :name, {prompt: 'Buscar Rubro'}, :onchange => 'getRubroPriceB(this);', class: "form-control select2 rubro-search" %>
                      </td>
                      <td><%=form.text_field :measurement_unit, class:'form-control measurement_unit', readonly: true %> </td>
                      <td><%=form.text_field :cost, class:'form-control cost', readonly: true %></td>
                      <td><%=form.number_field :price, class:'form-control price', readonly: true%></td>
                      <td><%=form.number_field :quantity, class: 'form-control quantity'%></td>
                      <td><%=form.number_field :utility, class: 'form-control utility'%> </td>
                      <td><%=form.number_field :subtotal, class: 'form-control total', readonly: true %></td>
                      <td><%=form.link_to_remove '<i class="fa fa-trash"></i>'.html_safe, class: 'btn btn-danger'%></td>
                      <br>
                    </tr>
                <% end %>
                <td>
                  <%=f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :budget_details, class: ' insert_in_table btn btn-flat bg-green'%>  </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    <div class="box-footer clearfix">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, budgets_path, class: 'btn btn-flat btn-default' %>
      </div>
    </div>

<%end%>

<script type="text/javascript">
  Budget.setSearchClient('<%= clients_search_path %>');
  Budget.setSearchRubro('<%= rubros_search_path %>');
</script>
