<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Descripcion</th>
    <th>Estado</th>
    <th>Monto total</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% budgets.each do |budget| %>
      <tr>
        <td><%= budget.client_name%></td>
        <td><%= budget.date %></td>
        <td><%= budget.description %></td>

        <% if budget.state == "Aprobado"%>
            <td class="bg-green"><%= budget.state %></td>
        <%elsif budget.state == "En estudio" %>
            <td class="bg-aqua"><%= budget.state %></td>
        <%elsif budget.state == "Pendiente" %>
            <td class="bg-purple"><%= budget.state %></td>
        <% elsif budget.state == "Cancelado"%>
            <td  class="bg-gray disable"><%= budget.state %></td>
        <% end %>
        <td><%= number_to_currency_py(budget.total_amount) %></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, budget_path(budget), {:class => "btn btn-xs bg-teal btn-flat"} %>
          <% if budget.state == "Pendiente" or budget.state == "Cancelado" %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_budget_path(budget), {:class => "btn btn-xs bg-orange btn-flat"} %>
        <% elsif budget.state == "Aprobado" or budget.state == "En estudio" %>

          <%end %>
              </td>
      </tr>
  <% end %>
  </tbody>
</table>
