<table class="table table-bordered table-condensed table-list">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Descripción</th>
    <th>Estado</th>
    <th>Monto total</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td><%= budget.client_name %></td>
        <td><%= budget.date %></td>
        <td><%= budget.description %></td>
        <% if budget.approved? %>
            <td class="bg-green">Aprobado</td>
        <% elsif budget.studying? %>
            <td class="bg-aqua">En estudio</td>
        <% elsif budget.pending? %>
            <td class="bg-purple">Pendiente</td>
        <% elsif budget.cancelled? %>
            <td  class="bg-gray disable">Cancelado</td>
        <% end %>
        <td><%= number_to_currency_py(budget.total_amount) %></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, budget_path(budget), {:class => "btn btn-xs bg-teal"} %>
          <% if budget.pending? %>
              <% if (can? :update, Budget) %>
                <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_budget_path(budget), {:class => "btn btn-xs bg-orange "} %>
              <% end %>
          <%end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
