<div class="box box-success">
  <div class="box-header with-border box-success">
    <h3 class="box-title"><%= t('helpers.title.budget.list') %></h3>
    <% if (can? :create, Budget) %>
        <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_budget_path, {:class => "btn btn-sm bg-green btn-title", :title => "Agregar Presupuesto"} %>
    <% end %>
  </div>
  <div class="box-body">
    <div class="budget-search searchList">
      <%= search_form_for(@q, remote: true, :html => { class: 'remote-search' }) do |f| %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-feedback">
                <%= f.text_field :name_or_client_name_or_client_ruc_cont, class: 'form-control', autocomplete: 'off', placeholder: 'Busca por nombre o cliente' %>
                <i class="fa fa-search form-control-feedback"></i>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn btn-default daterange btn-block" id="date-range">
                <%= f.hidden_field :date_gteq, class: 'fecha-desde' %>
                <%= f.hidden_field :date_gteq, class: 'fecha-hasta' %>
                <i class="fa fa-calendar"></i>&nbsp;<span>Fecha</span>&nbsp;<b class="caret"></b>
              </div>
            </div>
            <div class="col-md-4">
              <%= f.select :state_eq ,Budget.state_types, {include_blank: 'Todos los estados...'}, class: 'form-control'%>
            </div>
          </div>
      <% end %>
    </div>
    <div class="overlay-wrapper searchResult table-responsive" id="budgets-table">
      <%= render 'list', :budgets => @budgets %>
    </div>
  </div>
  <div class="box-footer clearfix">
    <div id="paginate-container">
      <ul class="pagination pagination-sm no-margin pull-right">
        <%= paginate @budgets %>
      </ul>
    </div>
  </div>
</div>