<div class="box box-success">
  <div class="box-header with-header">
    <h3 class="box-title">Presupuesto</h3>
  </div>
  <div class="box-body">
    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-sm-2 label-pad">
          <strong>Cliente:</strong>
        </div>
        <div class="col-sm-7 show-padding">
          <%= @budget.client_name %>
        </div>
      </div>

      <div class="field col-md-6 form-group">
        <div class="col-sm-2 label-pad">
          <strong>Fecha:</strong>
        </div>
        <div class="col-sm-5 show-padding">
          <%= @budget.date %>
        </div>
      </div>

    </div>
    <div class="field col-md-12">

      <div class="field col-md-6">
        <div class="col-sm-3 label-pad ">
          <strong>Descripcion:</strong>
        </div>
        <div class="col-sm-8 show-padding">
          <%= @budget.description %>
        </div>
      </div>

      <div class="field col-md-6">
        <div class="col-sm-2 label-pad">
          <strong>Estado:</strong>
        </div>
        <div class="col-sm-6 show-padding">
          <%= @budget.state %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <br>
            <table class="table table-bordered table-condensed">
              <tr>
                <th class="col-md-3">Rubro</th>
                <th class="col-md-1">Ud. Medidad</th>
                <th class="col-md-2">Costo</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-1">Cantidad</th>
                <th class="col-md-1">% Utilidad</th>
                <th class="col-md-2">Sub Total</th>
              </tr>
              <% @budget.budget_details.each do |budget_detail| %>
                  <tr class="fields ">
                    <td><%= budget_detail.rubro_name %></td>
                    <td><%= budget_detail.rubro_measurement_unit %></td>
                    <td><%= number_to_currency_py(budget_detail.cost) %></td>
                    <td><%= number_to_currency_py(budget_detail.price) %></td>
                    <td><%= budget_detail.quantity %></td>
                    <td><%= budget_detail.utility %></td>
                    <td><%= number_to_currency_py(budget_detail.subtotal) %></td>
                  </tr>
              <% end %>
              <td>
                  <strong>Monto Total:</strong>
                  <%= number_to_currency_py(@budget.total_amount) %>
              </td>
            </table>
          </div>
        </div>
      </div>

  <div class="box-footer">
    <div class="pull-left">
      <div>
        <%= link_to 'Generar PDF', budget_path(@budget, format: 'pdf'), class:'btn btn-flat bg-red pull-right' %>
      </div>
    </div>
    <div class="pull-right">
      <% if (can? :update, Budget) && @budget.state == "Pendiente" %>
          <%= link_to 'Editar', edit_budget_path(@budget), :class => 'btn btn-flat bg-blue'%>
      <% end %>
      <% if (can? :update, Budget) &&  (can? :create, Contract) && @budget.state == "En estudio" %>
          <%= link_to 'Generar Contrato', new_contract_path({budget_id: @budget.id, client_id: @budget.client_id , total: @budget.total_amount}), class:'btn btn-flat bg-blue' %>
      <% end %>
      <% if @budget.state == "Aprobado" && !@budget.contract.nil? && (can? :show, Contract) %>
          <%= link_to 'Ver Contrato', contract_path(@budget.contract.id), :class => 'btn btn-flat bg-blue'%>
      <% end %>
    </div>
  </div>
</div>
