<table class="table table-bordered table-condensed table-list">
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Nro. Factura</th>
    <th>Contrato</th>
    <th>Condicion</th>
    <th>Estado</th>
    <th>Monto</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% sale_bills.each do |sale_bill| %>
      <tr>
        <td><%= sale_bill.date.strftime("%d/%m/%Y") %></td>
        <td><%= sale_bill.number %></td>
        <td><%= sale_bill.contract_name %></td>
        <td><%= sale_bill.condition %></td>
        <td>
          <%= "<label class='label label-#{sale_bill.state.pagado? ? 'success' : 'warning'}'>#{sale_bill.state_text}</label>".html_safe %>
        </td>
        <td><%= number_to_currency_py(sale_bill.total) %></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, sale_bill_path(sale_bill), {:class => "btn btn-xs bg-teal btn-flat", :title => "Ver detalles"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
