<%= form_for user, validate: true, :html => { class: 'form-horizontal' } do |f| %>
  <div class="box-body">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :name, t('activerecord.attributes.user.first_name_html'), class: 'col-md-5 col-sm-3 control-label' %>
            <div class="col-md-7 col-sm-12">
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :name, t('activerecord.attributes.user.last_name_html'), class: 'col-md-5 col-sm-3 control-label' %>
            <div class="col-md-7 col-sm-12">
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :email, t('activerecord.attributes.user.email_html'), class: 'col-md-5 col-sm-3 control-label' %>
            <div class="col-md-7 col-sm-12">
              <%= f.email_field :email, class: 'form-control uniqueUserEmail' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :password, t('activerecord.attributes.user.password_html'), class: 'col-md-5 col-sm-3 control-label' %>
            <div class="col-md-7 col-sm-12">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation_html'), class: 'col-md-5 col-sm-3 control-label' %>
            <div class="col-md-7 col-sm-12">
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <%= user.new_record? ? '' : t('helpers.not_change_passwd_html') %>
    </div>
  </div>
  <div class="box-footer clearfix">
    <div class="pull-right">
      <%= f.submit t('button.save'), :class => "btn btn-flat bg-blue" %>
      <%= link_to t('button.cancel'),  users_path , class: 'btn btn-flat btn-default' %>
    </div>
  </div>
<% end %>
