<%= form_for @user, validate: true, :html => { class: 'form-horizontal' } do |f| %>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <%= f.label :name, t('activerecord.attributes.user.name'), class: 'col-md-4 col-sm-3 control-label' %>
      <div class="col-md-8 col-sm-12">
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, t('activerecord.attributes.email'), class: 'col-md-4 col-sm-3 control-label' %>
      <div class="col-md-8 col-sm-12">
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, t('activerecord.attributes.user.password'), class: 'col-md-4 col-sm-3 control-label' %>
      <div class="col-md-8 col-sm-12">
        <%= f.password_field :password, :autofocus => true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation'), class: 'col-md-4 col-sm-3 control-label' %>
      <div class="col-md-8 col-sm-12">
        <%= f.password_field :password_confirmation, :autofocus => true, class: 'form-control' %>
      </div>
    </div>
    <div class="box-footer clearfix">
      <%= f.submit 'Crear', :class => 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>
