<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Cambiar Rol', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Eliminar", user_path(user), :data => { :confirm => "Estas seguro?" }, :method => :delete, :class => 'button-xs active') unless user == current_user %>
</td>
