<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.user.show') %></h3>
  </div>
  <div class="box-body">
    <div class="col-md-2">
      <div class="avatar_company">
        <%= cl_image_tag find_user(current_user.id).avatar_url(:thumb), :class => 'img-circle' if find_user(current_user.id).avatar? %>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="field col-md-12 form-group">
          <div class="field col-md-5 form-group">
            <label class="control-label">Nombre: </label>
            <%= @user.full_name.titleize %>
          </div>
          <div class="field col-md-5 form-group">
            <label class="control-label">Correo: </label>
            <%= @user.email %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="field col-md-12 form-group">
          <div class="field col-md-5 form-group">
            <label class="control-label">Fecha de Registro: </label>
            <%= l @user.created_at, format: :long %>
          </div>
          <div class="field col-md-5 form-group">
            <label class="control-label">Fecha de Último Ingreso: </label>
            <%= @user.last_sign_in_at ? (l @user.last_sign_in_at, format: :long) : "No regista ingreso" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="field col-md-12 form-group">
          <div class="field col-md-5 form-group">
            <label class="control-label">Rol. de Usuario: </label>
            <%= @user.role_name %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <div class="pull-right">
      <% if (can? :update, User) %>
      <%= link_to t('button.edit'), edit_user_path(@user), {:class => "btn btn-flat bg-blue"} %>
          <% end %>
      <%= link_to t('button.back'), url_for(:back), {:class => "btn btn-flat btn-default"} %>
    </div>
  </div>
</div>
