<%= form_for @client, validate: true do |f| %>

  <div class="row">
    <form class="form-horizontal">

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
           <%= f.label :name, 'Razón Social:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :name, :class => 'form-control', autofocus:true, :maxlength => 30 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :last_name, 'Apelido:', :class => 'control-label' %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :last_name, :class => 'form-control', :maxlength => 30 %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
            <%= f.label :identification_document, 'Documento:', :class => 'control-label' %>
          </div>
          <div class="col-md-5">
            <%= f.number_field :identification_document, :class => 'form-control', :maxlength => 10 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :email, 'Correo:', :class => 'control-label' %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :email, :class => 'form-control', :maxlength => 30 %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
           <%= f.label :adress, 'Direccion:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
           <%= f.text_field :adress, :class => 'form-control', :maxlength => 50 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :phone, 'Telefono:', :class => 'control-label' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :phone, :class => 'form-control', :maxlength => 12, placeholder: '0000-000-000' %>
          </div>
        </div>

        <div class="field col-md-12 form-group">
        </div>

        <div class="field col-md-12 form-group">
        <% if controller.action_name == 'edit'  %>
            <%= f.submit t('button.save'), :class => "btn btn-primary" %>
        <% else %>
            <%= f.submit t('button.new'), :class => 'btn btn-primary'%>
        <% end %>
          <%= link_to t('button.cancel'),  clients_path , class: 'btn btn-default' %>
        <% end %>
      </div>

      </div>
    </form>
   </div>
