<%= form_for client, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body box-success">
        <div class="field col-md-12 form-group">
          <div class="field col-md-9 form-group">
            <div class="col-md-3">
              <%= f.label :name, 'Nombre o Razón Social:', :class => 'control-label tooltip_required' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :name, :class => 'form-control', autofocus:true, :maxlength => 100 %>
            </div>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-md-3">
              <%= f.label :ruc, 'RUC:', :class => 'control-label tooltip_required' %>
            </div>
            <div class="col-md-5">
              <%= f.text_field :ruc, :class => 'form-control', :maxlength => 12 %>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="col-md-2">
              <%= f.label :email, 'Correo:', :class => 'control-label' %>
            </div>
            <div class="col-md-10">
              <%= f.text_field :email, :class => 'form-control', :maxlength => 50 %>
            </div>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-md-3">
              <%= f.label :adress, 'Dirección:', :class => 'control-label' %>
            </div>
            <div class="col-md-9">
              <%= f.text_area :adress, :class => 'form-control', cols: "20", rows: "2", :maxlength => 200  %>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="col-md-2">
              <%= f.label :phone, 'Teléfono:', :class => 'control-label' %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :phone, id: 'phone', :class => 'form-control', :maxlength => 12 %>
            </div>
          </div>
        </div>
      </div>

    <div class="box-footer">
        <div class="pull-right">
          <button type="submit" class="btn btn-primary" title="Guardar"><i class="fa fa-save"></i></button>
          <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, clients_path, :class => 'btn btn-default', :title => 'Atrás' %>
        </div>
      </div>
    <% end %>