<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <form class="form-horizontal">

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
           <%= f.label :name, 'Nombre:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :name, :class => 'form-control', autofocus:true %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :last_name, 'Apelido:', :class => 'control-label' %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :last_name, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :identification_document, 'Documento:', :class => 'control-label' %>
          </div>
          <div class="col-md-5">
            <%= f.number_field :identification_document, :class => 'form-control' %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :email, 'Correo:', :class => 'control-label' %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :email, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
           <%= f.label :adress, 'Direccion:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
           <%= f.text_field :adress, :class => 'form-control' %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-2">
            <%= f.label :phone, 'Telefono:', :class => 'control-label' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :phone, :class => 'form-control' %>
          </div>
        </div>

        <div class="field col-md-12 form-group">
        </div>

        <div class="field col-md-12 form-group">
        <% if controller.action_name == 'edit'  %>
            <%= f.submit 'Guardar', :class => "btn btn-primary" %>
        <% else %>
            <%= f.submit 'Agregar', :class => 'btn btn-primary'%>
        <% end %>
          <%= link_to 'Cancelar',  clients_path , class: 'btn btn-default' %>
        <% end %>
      </div>

      </div>
    </form>
   </div>