<table class="table table-bordered table-condensed table-list">
  <thead>
  <tr>
    <th>Nombre o Razón Social</th>
    <th>RUC</th>
    <th>Correo</th>
    <th>Dirección</th>
    <th>Teléfono</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.ruc %></td>
        <td><%= client.email %></td>
        <td><%= client.adress %></td>
        <td><%= client.phone %></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, client_path(client), {:class => "btn btn-xs bg-teal", :title => "Ver"} %>
          <% if (can? :update, Client) %>
              <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_client_path(client), {:class => "btn btn-xs bg-orange", :title => "Editar"} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

