<div class="panel panel-default">
  <div class="panel-body">
      <table class="table table-striped table-bordered table-hover data-table">
        <thead>
        <tr>
          <th>Nombre o Razón Social</th>
          <th>RUC</th>
          <th>Correo</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% clients.each do |client| %>
            <tr>
              <td><%= client.name %></td>
              <td><%= client.ruc %></td>
              <td><%= client.email %></td>
              <td><%= client.adress %></td>
              <td><%= client.phone %></td>
              <td><%= link_to client, class: 'btn btn-info active', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "fa fa-eye"></span>
                <% end %>
              <%= link_to edit_client_path(client), class: 'btn btn-success active', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-edit"></span>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>
