  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Cliente</h3>
    </div>
      <div class="box-body">

        <div class="field col-md-12 form-group">
          <div class="field col-md-8 form-group">
              <strong>Nombre o Razón Social:</strong>
              <%= @client.name %>
          </div>

          <div class="field col-md-4 form-group">
              <strong>RUC:</strong>
              <%= @client.ruc %>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="field col-md-4 form-group">
              <strong>Correo:</strong>
              <%= @client.email %>
          </div>

          <div class="field col-md-4 form-group">
              <strong>Direccion:</strong>
              <%= @client.adress %>
          </div>

          <div class="field col-md-4 form-group">
              <strong>Telefono:</strong>
              <%= @client.phone %>
          </div>
        </div>
      </div>
        <div class="box-footer">
          <div class="pull-right">
            <% if (can? :update, Client) %>
            <%= link_to 'Editar', edit_client_path(@client), :class => 'btn btn-primary active' %>
                <% end %>
            <%= link_to 'Atras', clients_path, :class => 'btn btn-default' %>
          </div>
        </div>
  </div>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Cuenta Corriente</h3>
    </div>
  </div>