  <div class="row">
    <div class="panel panel-default">
      <div class="panel panel-heading">Cliente</div>
      <p id="notice"><%= notice %></p>
      <div class="panel-body">

        <div class="field col-md-12 form-group">
          <div class="col-md-2">
            <strong>Nombre:</strong>
          </div>
          <div class="col-md-6">
            <%= @client.name %>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="col-md-2">
            <strong>Apellido:</strong>
          </div>
          <div class="col-md-6">
            <%= @client.last_name %>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="col-md-2">
            <strong>Documento:</strong>
          </div>
          <div class="col-md-6">
            <%= @client.identification_document %>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="col-md-2">
            <strong>Correo:</strong>
          </div>
          <div class="col-md-6">
            <%= @client.email %>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="col-md-2">
            <strong>Direccion:</strong>
          </div>
          <div class="col-md-6">
            <%= @client.adress %>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="col-md-2">
            <strong>Telefono:</strong>
          </div>
          <div class="col-md-6">
            <%= @client.phone %>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <%= link_to 'Editar', edit_client_path(@client), :class => 'btn btn-primary active' %>
        <%= link_to 'Atras', clients_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
