  <div class="row">
    <div class="panel panel-default">
      <div class="panel panel-heading">Ver Cliente</div>
      <p id="notice"><%= notice %></p>
      <div class="panel-body">
        <p>
          <strong>Nombre:</strong>
          <%= @client.name %>
        </p>

        <p>
          <strong>Apellido:</strong>
          <%= @client.last_name %>
        </p>

        <p>
          <strong>Documento:</strong>
          <%= @client.identification_document %>
        </p>

        <p>
          <strong>Correo:</strong>
          <%= @client.email %>
        </p>

        <p>
          <strong>Direccion:</strong>
          <%= @client.adress %>
        </p>

        <p>
          <strong>Telefono:</strong>
          <%= @client.phone %>
        </p>
      </div>

      <div class="panel-footer">
        <%= link_to 'Editar', edit_client_path(@client), :class => 'btn btn-default' %> |
        <%= link_to 'Atras', clients_path %>
      </div>
    </div>
  </div>
