  <div class="box">
    <div class="box-header with-header">
      <h1 class="page-header">Cliente</h1>
      <div class="box-body">

        <div class="field col-md-12 form-group">
          <div class="field col-md-4 form-group">
            <div class="col-md-4">
              <strong>Nombre:</strong>
            </div>
            <div class="col-md-7">
              <%= @client.name %>
            </div>
          </div>

          <div class="field col-md-4 form-group">
            <div class="col-md-4">
              <strong>Apellido:</strong>
            </div>
            <div class="col-md-7">
              <%= @client.last_name %>
            </div>
          </div>

          <div class="field col-md-4 form-group">
            <div class="col-md-4">
              <strong>Documento:</strong>
            </div>
            <div class="col-md-7">
              <%= @client.identification_document %>
            </div>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <div class="field col-md-4 form-group">
            <div class="col-md-4">
              <strong>Correo:</strong>
            </div>
            <div class="col-md-7">
              <%= @client.email %>
            </div>
          </div>

          <div class="field col-md-4 form-group">
            <div class="col-md-4">
              <strong>Direccion:</strong>
            </div>
            <div class="col-md-7">
              <%= @client.adress %>
            </div>
          </div>

          <div class="field col-md-4 form-group">
            <div class="col-md-4">
              <strong>Telefono:</strong>
            </div>
            <div class="col-md-7">
              <%= @client.phone %>
            </div>
          </div>
        </div>
      </div>
        <div class="box-footer">
          <div class="pull-right">
            <%= link_to 'Editar', edit_client_path(@client), :class => 'btn btn-primary active' %>
            <%= link_to 'Atras', clients_path, :class => 'btn btn-default' %>
          </div>
        </div>
    </div>
  </div>


