<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.client.show') %></h3>
  </div>
  <div class="box-body">

    <div class="field col-md-12 form-group">
      <div class="field col-md-8 form-group">
        <div class="field col-md-4">
          <strong>Nombre o Razón Social:</strong>
        </div>
        <div class="field col-md-8">
          <%= @client.name %>
        </div>
      </div>

      <div class="field col-md-4 form-group">
        <div class="field col-md-2">
          <strong>RUC:</strong>
        </div>
        <div class="field col-md-10">
          <%= @client.ruc %>
        </div>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-8 form-group">
        <div class="field col-md-2">
          <strong>Dirección:</strong>
        </div>
        <div class="field col-md-10">
            <%= @client.adress %>
        </div>
      </div>

      <div class="field col-md-4 form-group">
        <div class="field col-md-3">
          <strong>Teléfono:</strong>
        </div>
        <div class="field col-md-9">
          <%= @client.phone %>
        </div>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-8 form-group">
        <div class="field col-md-2">
          <strong>Correo:</strong>
        </div>
        <div class="field col-md-10">
          <%= @client.email %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <div class="pull-right">
      <% if (can? :update, Client) %>
          <%= link_to 'Editar', edit_client_path(@client), :class => 'btn btn-primary active' %>
      <% end %>
      <%= link_to 'Atrás', clients_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Cuenta Corriente</h3>
  </div>
  <div class="box-body">
    <div class="field col-md-12 form-group">
      <div class="field col-md-8 form-group">
        <strong>Balance Total:</strong>
        <%= number_to_currency(@balance, unit: "Gs.", separator: ".", precision: 0) %>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered table-condensed", cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Nombre</th>

          <th>Fecha de inicio</th>
          <th>Fecha de finalización</th>
          <th>Monto</th>
          <th>Facturado</th>
          <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <% @client.contracts.each do |contract| %>
            <tr>
              <td><%= contract.name %></td>
              <td><%= contract.start_date %></td>
              <td><%= contract.end_date %></td>
              <td><%= number_to_currency(contract.amount, unit: "Gs.", separator: ".", precision: 0) %></td>
              <td><%= number_to_currency(contract.sale_bills.sum(:total), unit: "Gs.", separator: ".", precision: 0)%></td>
              <td><%= number_to_currency(contract.amount - contract.sale_bills.sum(:total), unit: "Gs.", separator: ".", precision: 0)%></td>
            <tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>