<%= nested_form_for purchase_bill, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group required">
          <div class="col-md-3">
            <%= f.label :number, 'Numero:', :class => 'control-label' %>
          </div>
          <div class="col-md-6">
            <%= f.number_field :number, :class => 'form-control' %>
          </div>
        </div>
          <div class="field col-md-6 form-group required">
            <div class="col-md-3">
              <%= f.label :provider, 'Proveedor:', :class => 'control-label' %>
            </div>
            <div class="col-md-8">
              <%= f.collection_select(:provider_id, Provider.all, :id, :name, {prompt: 'Seleccionar'}, :class => 'form-control') %>
            </div>
          </div>
       </div>

        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group required">
            <div class="col-md-3">
              <%= f.label :condition, 'Condicion:', :class => 'control-label' %>
            </div>
            <div class="col-md-6">
              <%= f.select(:condition, ["Contado", "Credito"], {prompt: 'Seleccionar'}, :class => 'form-control') %>
            </div>
          </div>
          <div class="field col-md-6 form-group required">
            <div class="col-md-3">
              <%= f.label :date, 'Fecha:', :class => 'control-label' %>
            </div>
            <div class="input-group col-md-6">
              <%= f.text_field :date, :id => 'datepickerFrom', :class => 'input-group date form-control datepicker' %><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

      <div class="col-md-8">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Detalles de factura</h3>
          </div>
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th class="col-md-4">Material</th>
                  <th class="col-md-3">Cantidad</th>
                  <th class="col-md-4">Precio</th>
                  <th class="col-md-1"></th>
                </tr>
                <tbody>
                <%= f.fields_for :purchase_details, :wrapper => false do |form| %>
                    <tr class="fields">
                      <td class="col-md-5"><%=form.collection_select(:material_id, Material.all, :id, :name, {prompt: 'Seleccionar'}, class: 'form-control')%></td>
                      <td class="col-md-3"><%=form.number_field :quantity, class: 'form-control'%></td>
                      <td class="col-md-3"><%=form.number_field :price, class: 'form-control'%></td>
                      <td class="col-md-1"><%=form.link_to_remove '<i class="fa  fa-trash-o"></i>'.html_safe, class: 'btn btn-danger'%></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <%=f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :purchase_details, class: 'btn btn-success'%>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <div class="pull-right">
        <% if controller.action_name == 'edit'  %>
            <%= f.submit 'Guardar', :class => "btn btn-primary active" %>
        <% else %>
            <%= f.submit 'Guardar', :class => 'btn btn-primary active'%>
        <% end %>
        <%= link_to 'Cancelar',  purchase_bills_path , class: 'btn btn-default' %>
      </div>
    </div>
<% end %>




