<%= nested_form_for purchase_bill, validate: true, :html => { class: 'form-horizontal' } do |f| %>
  <div class="box-body">
    <div class="col-md-12">
      <div class="row">
        <div class="field col-md-4 form-group">
          <div class="col-md-3">
            <%= f.label :date, 'Fecha:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-md-7">
            <div class="input-group">
              <%= f.text_field :date, :class => 'form-control datepicker' %>
              <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="field col-md-4 form-group">
          <div class="col-md-3">
            <%= f.label :provider, 'Proveedor:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-md-7">
            <div class="input-group">
              <%= f.collection_select(:provider_id, Provider.all, :id, :name, {prompt: 'Buscar Proveedor'}, :class => 'form-control select2 people-search') %>
              <span class="input-group-btn">
                <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_provider_path, {:class => "btn btn-flat bg-green", :title => "Agregar Proveedor"} %>
              </span>
            </div>
          </div>
        </div>
        <div class="field col-md-4 form-group">
          <div class="col-md-3">
            <%= f.label :condition, 'Condición:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-7">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                <%= f.radio_button :condition, 'contado', :class => 'radio_group_buttons required' %> Contado
              </label>
              <label class="btn btn-default">
                <%= f.radio_button :condition, 'crédito', :class => 'radio_group_buttons required' %> Crédito
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="field col-md-5 form-group">
          <div class="col-md-4">
            <%= f.label :number, 'Número de boleta:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :number, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Seleccionar Materiales</h3>
            </div>
            <div class="box-body">
              <%= render 'details_table', :f => f, :purchase_bill => purchase_bill%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-footer clearfix">
    <div class="pull-right">
      <%= f.submit t('button.save'), :class => "btn btn-flat bg-blue" %>
      <%= link_to t('button.cancel'),  purchase_bills_path , class: 'btn btn-flat btn-default' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  Purchase.setSearchProvider('<%= providers_search_path %>');
  Purchase.setSearchMaterial('<%= materials_search_path %>');
</script>
