<div class="box box-success">
  <div class="box-header with-border box-success">
    <h3 class="box-title"><%= t('helpers.title.purchase_bill.list') %></h3>
    <% if (can? :create, PurchaseBill) %>
      <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_purchase_bill_path, {:class => "btn btn-sm btn-flat bg-green btn-title", :title => "Agregar Factura"} %>
    <% end %>
  </div>
  <div class="box-body">
    <div class="purchase_bill-search searchList">
      <%= search_form_for(@q, remote: true, :html => { class: 'remote-search' }) do |f| %>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-feedback">
              <%= f.text_field :provider_name_or_provider_ruc_cont, class: 'form-control', autocomplete: 'off', placeholder: 'Busca por Nombre/RUC del proveedor' %>
              <i class="fa fa-search form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-3">
            <div class="btn btn-default daterange btn-block" id="date-range">
              <%= f.hidden_field :date_gteq, class: 'fecha-desde' %>
              <%= f.hidden_field :date_gteq, class: 'fecha-hasta' %>
              <i class="fa fa-calendar"></i>&nbsp;<span>Fecha</span>&nbsp;<b class="caret"></b>
            </div>
          </div>
          <div class="col-md-3">
            <%= f.select :condition_eq ,PurchaseBill.condition.options, {include_blank: 'Todas las condiciones...'}, class: 'form-control'%>
          </div>
          <div class="col-md-3">
            <%= f.select :state_eq ,PurchaseBill.state.options, {include_blank: 'Todos los estados...'}, class: 'form-control'%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="overlay-wrapper searchResult table-responsive" id="purchase-bills-table">
      <%= render 'list', :purchase_bills => @purchase_bills %>
    </div>
  </div>
  <div class="box-footer clearfix">
    <div id="paginate-container">
      <ul class="pagination pagination-sm no-margin pull-right">
        <%= paginate @purchase_bills %>
      </ul>
    </div>
  </div>
</div>
