<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.purchase_bill.show') %></h3>
  </div>
  <div class="box-body">
    <div class="col-md-12 form-group">
      <div class="col-md-3">
        <strong>Proveedor:</strong>
        <%= @purchase_bill.provider_name %>
      </div>
      <div class="col-md-3">
        <strong>Condicion:</strong>
        <%= @purchase_bill.condition %>
      </div>
      <div class="col-md-3">
        <strong>Numero:</strong>
        <%= @purchase_bill.number %>
      </div>
      <div class="col-md-3">
        <strong>Fecha:</strong>
        <%= @purchase_bill.date.strftime("%d/%m/%Y") %>
      </div>
    </div>

    <% @total = 0 %>
    <div class="col-md-12 form-group">
      <div class="col-md-8">
        <table class="table table-bordered table-condensed", cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Material</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          </thead>
          <tbody>
          <% @purchase_bill.purchase_details.each do |detalle| %>
              <td><%= detalle.material.name %></td>
              <td><%= detalle.quantity %></td>
              <td><%= detalle.quantity * detalle.price %></td>
              <% @total = @total +  (detalle.quantity * detalle.price)%>
          <% end %>
          </tbody>
          <tfoot>
          <td></td>
          <td><b>Total:</b></td>
          <td><%= @total %></td>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
  <div class="box-footer">
    <div class="pull-right">
      <%= link_to t('button.edit'), edit_purchase_bill_path(@purchase_bill), {:class => "btn btn-flat bg-blue"} %>
      <%= link_to t('button.back'), url_for(:back), {:class => "btn btn-flat btn-default"} %>
    </div>
  </div>
</div>