<div class="row">
  <div class="panel panel-default">
    <div class="panel panel-heading">Ver Movimiento</div>
    <div class="panel-body">
      <div class="col-md-12">
        <div class="col-md-4">
          <strong>Condicion:</strong>
          <%= @purchase_bill.condition %>
        </div>

        <div class="col-md-4">
          <strong>Number:</strong>
          <%= @purchase_bill.number %>
        </div>

        <div class="col-md-4">
          <strong>Fecha:</strong>
          <%= @purchase_bill.date %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-4">
        <div class="form-group">
          <div class="panel panel-default">
            <table class="table table-striped table-bordered", cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Material</th>
                <th>Cantidad</th>
              </tr>
              </thead>
              <tbody>
              <% @purchase_bill.purchase_details.each do |detalle| %>
                  <td><%= detalle.material.name %></td>
                  <td><%= detalle.quantity %></td>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br>
    <div class="panel-footer">
      <%= link_to 'Editar', edit_purchase_bill_path(@purchase_bill), :class => 'btn btn-default' %> |
      <%= link_to 'Atras', purchase_bill_path %>
    </div>
  </div>
</div>