<%= form_for(movement_detail) do |f| %>
  <% if movement_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movement_detail.errors.count, "error") %> prohibited this movement_detail from being saved:</h2>

      <ul>
      <% movement_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :material_movement_id %>
    <%= f.number_field :material_movement_id %>
  </div>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.text_field :cantidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
