<p id="notice"><%= notice %></p>

<h1>Movement Details</h1>

<table>
  <thead>
    <tr>
      <th>Material movement</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movement_details.each do |movement_detail| %>
      <tr>
        <td><%= movement_detail.material_movement_id %></td>
        <td><%= movement_detail.cantidad %></td>
        <td><%= link_to 'Show', movement_detail %></td>
        <td><%= link_to 'Edit', edit_movement_detail_path(movement_detail) %></td>
        <td><%= link_to 'Destroy', movement_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement Detail', new_movement_detail_path %>
