<p id="notice"><%= notice %></p>

<p>
  <strong>Material movement:</strong>
  <%= @movement_detail.material_movement_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @movement_detail.cantidad %>
</p>

<%= link_to 'Edit', edit_movement_detail_path(@movement_detail) %> |
<%= link_to 'Back', movement_details_path %>
