<% days = (CompanyConfig.first.validity_of_letterhead - DateTime.now).to_i %>
<% if days < 0 %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      Tu timbrado está vencido, si ya tienes uno nuevo modificalo en <a href="<%= edit_company_path %>" class="alert-link">Configuraciones</a>.
    </div>
<% elsif days == 0 %>
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      Tu timbrado vence hoy, si ya tienes uno nuevo modificalo en <a href="<%= edit_company_path %>" class="alert-link">Configuraciones</a>.
    </div>
<% elsif days < 30 %>
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      Tu timbrado vencerá en <%= days %> días, si ya tienes uno nuevo modificalo en <a href="<%= edit_company_path %>" class="alert-link">Configuraciones</a>.
    </div>
<% end %>


<div class="row" >
  <div class="avatar_company">
    <%= cl_image_tag(CompanyConfig.first.avatar_url(:medium), :class => 'img-rounded')if CompanyConfig.first.avatar?%>
  </div>
  <div class="info-company">
    <div class="row">
      <div class="col-md-12">
        <h1><%= CompanyConfig.first.name %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="control-label">Dirección:</label>
        <span><%= CompanyConfig.first.address %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="control-label">Tel/Fax:</label>
        <span><%= CompanyConfig.first.tel_fax %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="control-label">Celular:</label>
        <span><%= CompanyConfig.first.celphone %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="control-label">Email:</label>
        <span><%= CompanyConfig.first.email %></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3><%= Budget.pending.count %></h3>
        <p>Presupuesto(s) pendiente(s)</p>
      </div>
      <div class="icon">
        <i class="fa fa-user-plus"></i>
      </div>
      <% if (can? :show_list, Budget) %>
        <a href="<%= budgets_path(:q => {:state_eq => Budget.states[:pending]})   %>" class="small-box-footer">Ver Detalles <i class="fa fa-arrow-circle-right"></i></a>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>23</h3>
        <p>Facturas de Compras</p>
      </div>
      <div class="icon">
        <i class="fa fa-file-text"></i>
      </div>
      <a href="#" class="small-box-footer">Ver Detalles <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
