<table class="table table-bordered table-condensed table-list">
  <thead>
  <tr>
    <th>Modelo</th>
    <th>id</th>
    <th>Usuario</th>
    <th>Acción</th>
    <th>Cambios</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% audits.each do |audit| %>
      <tr>
        <td><%= audit..auditable_type%></td>
        <td><%= audit.auditable_id %></td>
        <td><%= audit.user_id %></td>
        <td><%= audit.audited_changes %></td>
        <td><%= number_to_currency_py(audit.total_amount) %></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, budget_path(audit), {:class => "btn btn-xs bg-teal btn-flat"} %>
          <% if audit.state == "Pendiente" %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_budget_path(audit), {:class => "btn btn-xs bg-orange btn-flat"} %>
        <% elsif audit.state == "Aprobado" %>

          <%end %>
              </td>
      </tr>
  <% end %>
  </tbody>
</table>
