<table class="table table-bordered table-condensed table-list">
  <thead>
  <tr>
    <th width="10%">N° de certificación</th>
    <th width="30%">Contrato</th>
    <th width="10%">Fecha</th>
    <th width="5%">Estado</th>
    <th width="10%" class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% certifications.each do |certification| %>
      <tr>
        <td><%= certification.certification_number %></td>
        <td><%= certification.contract_name %></td>
        <td><%= certification.date %></td>
        <td>
        <% if certification.approved?%>
            <span class="label label-success">Aprobado</span>
        <%elsif certification.pending? %>
            <span class="label label-warning">Pendiente</span>
        <%elsif certification.rejected? %>
            <span class="label label-danger">Rechazado</span>
        <% elsif certification.paid?%>
            <span  class="label label-default">Pagado</span>
        <% end %>
        </td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, certification_path(certification), {:class => 'btn btn-xs bg-teal', :title=> 'Ver'} %>

          <% if (can? :update, Certification) && certification.pending? %>
              <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_certification_path(certification), :class => 'btn btn-xs bg-orange',:title => 'Editar'%>
              <%= link_to "<i class=\"fa fa-check\"></i>".html_safe, approved_certification_path(certification), :class => 'btn btn-xs  bg-green', :title => 'Aprobar',data: {confirm: 'La certificación interna fué aprobada?'}  %>
              <%= link_to "<i class=\"fa fa-times\"></i>".html_safe, rejected_certification_path(certification), :class => 'btn btn-xs bg-red', :title => 'Rechazar',data: {confirm: 'La certificación interna fué rechazada?'} %>
          <% end %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>
