<table class="table table-bordered table-condensed table-list">
  <thead>
  <tr>
    <th>Contrato</th>
    <th>Fecha</th>
    <th>Estado</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% certifications.each do |certification| %>
      <tr>
        <td><%= certification.contract_name %></td>
        <td><%= certification.date %></td>
        <% if certification.state == Certification.states_types.keys[1]%>
            <td class="bg-green"><%= certification.state %></td>
        <%elsif certification.state == Certification.states_types.keys[0] %>
            <td class="bg-orange"><%= certification.state %></td>
        <%elsif certification.state == Certification.states_types.keys[2] %>
            <td class="bg-red"><%= certification.state %></td>
        <% elsif certification.state == AccountEmployee.states_types.keys[1]%>
            <td  class="bg-gray disable"><%= certification.state %></td>
        <% end %>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, certification_path(certification), {:class => "btn btn-xs bg-teal btn-flat"} %>
          <% if certification.state == Certification.states_types.keys[0] || certification.state == Certification.states_types.keys[2] %>
              <% if (can? :update, Certification) %>
                  <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_certification_path(certification), {:class => "btn btn-xs bg-orange btn-flat"} %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
