<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.certification.show') %></h3>
  </div>
  <div class="box-body">

    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-md-6">
          <strong>Obra:</strong>
          <%= @certification.contract_name %>
        </div>
      </div>

      <div class="field col-md-6 form-group">
        <div class="col-md-6">
          <strong>Fecha:</strong>
          <%= @certification.date %>
        </div>
      </div>
    </div>
    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-md-6">
          <strong>Estado:</strong>
          <%= @certification.state %>
        </div>
      </div>
    </div>

    <div class="col-md-12 form-group">
      <table style="table-layout: fixed; width: 100%" class="table table-bordered table-condensed">
        <thead>
        <tr  style="word-wrap: break-word">
          <th width="20%">Jornalero</th>
          <th width="10%">Dias trabajados</th>
          <th width="10%">Jornal</th>
          <th width="10%">Descuento(%)</th>
          <th width="30%">Observación</th>
          <th width="10%">Subtotal</th>
          <th width="10%">Total</th>
        </tr>
        </thead>
        <tbody>
        <% @certification.certification_details.each do |detail| %>
            <tr>
              <td><%= detail.employee_name %>
              <td><%= detail.quantity %>
              <td><%= number_to_currency_py(detail.pay) %>
              <td><%= eval(sprintf("%3.2f",detail.discount)) %>
              <td><%= detail.observation%>
              <td><%= number_to_currency_py(detail.subtotal) %></td>
              <td><%= number_to_currency_py(detail.total) %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <div class="box-footer">
    <div class="pull-right">
      <%= link_to 'Editar', edit_certification_path(@certification), :class => 'btn btn-primary active' %>
      <%= link_to 'Atrás', certifications_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
<style>
  td {
    width: 11em;
    word-wrap: break-word;
  }
</style>
