<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.certification.show') %></h3>
  </div>
  <div class="box-body">

    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-md-6 show-padding">
          <strong>Obra:</strong>
          <%= @certification.contract_name %>
        </div>
      </div>

      <div class="field col-md-6 form-group">
        <div class="col-md-6 show-padding">
          <strong>Fecha:</strong>
          <%= @certification.date %>
        </div>
      </div>
    </div>
    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-md-6 show-padding">
          <strong>Estado:</strong>
          <% if @certification.approved?%>
              <label class="bg-green">Aprobado</label>
          <%elsif @certification.pending? %>
              <label class="bg-orange">Pendiente</label>
          <%elsif @certification.rejected? %>
              <label class="bg-red">Rechazado</label>
          <% elsif @certification.paid?%>
              <label  class="bg-gray disable">Pagado</label>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-12 form-group">
      <table class="table table-bordered table-condensed table-list">
        <thead>
        <tr  style="word-wrap: break-word">
          <th width="20%">Jornalero</th>
          <th width="10%">Dias trabajados</th>
          <th width="10%">Jornal</th>
          <th width="10%">Descuento(%)</th>
          <th width="30%">Observación</th>
          <th width="10%">Subtotal</th>
          <th width="10%">Total</th>
        </tr>
        </thead>
        <tbody>
        <% @certification.certification_details.each do |detail| %>
            <tr>
              <td><%= detail.employee_name %>
              <td><%= detail.quantity %>
              <td><%= number_to_currency_py(detail.pay) %>
              <td><%= eval(sprintf("%3.2f",detail.discount)) %>
              <td><%= detail.observation%>
              <td><%= number_to_currency_py(detail.subtotal) %></td>
              <td><%= number_to_currency_py(detail.total) %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <div class="box-footer">
    <div class="pull-right">
      <% if (can? :update, Certification) && @certification.pending? %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_certification_path(@certification), :class => 'btn bg-orange'%>
          <%= link_to "<i class=\"fa fa-check\"></i>".html_safe, approved_certification_path(@certification), :class => 'btn bg-green' %>
          <%= link_to "<i class=\"fa fa-times\"></i>".html_safe, rejected_certification_path(@certification), :class => 'btn bg-red' %>
      <% end %>
      <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, @certification.contract, :class => 'btn btn-default' %>
    </div>
  </div>
</div>

