<%= nested_form_for material_movement, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :contract, 'Contrato:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-7">
            <% if material_movement.contract.nil? %>
                <%= f.collection_select(:contract_id, Contract.all, :id, :name, {prompt: 'Seleccionar'}, :class => 'form-control') %>
            <% else %>
                <%= f.collection_select(:contract_id, Contract.all, :id, :name, {prompt: 'Selecciona un contrato'}, :class => 'form-control', disabled:true) %>
                <%= f.hidden_field :contract_id, :class => 'form-control' %>
            <% end %>
          </div>
        </div>
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :date, 'Fecha:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="input-group col-md-7">
            <%= f.text_field :date, :id => 'datepickerFrom', :class => 'input-group date form-control datepicker'%><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :reason, 'Motivo:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :reason, :maxlength => 120, :class => 'form-control' %>
          </div>
        </div>
      </div>



      <div class="col-md-8">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Movimientos</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered" id="movement-table">
                <thead>
                <tr>
                  <th class="col-md-3">Material</th>
                  <th class="col-md-3">Costo</th>
                  <th class="col-md-2">Cantidad</th>
                  <th class="col-md-3">Total</th>
                  <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody id="details-body">
                <%= f.fields_for :movement_details, :wrapper => false do |form| %>
                    <tr class="fields" onchange='getMovementTotal(this);'>
                      <td><%=form.collection_select(:material_id, Material.all, :id, :name, {prompt: 'Seleccionar'}, :onchange => 'getMaterialPrice(this);', class: 'form-control select2 tooltip_required material-search')%></td>
                      <td><%=form.number_field :price, class: 'form-control tooltip_required price'%></span></td>
                      <td><%=form.number_field :quantity, class: 'form-control tooltip_required quantity'%></td>
                      <td><span class='total'>0</span></td>
                      <td><%=form.link_to_remove '<i class="fa  fa-trash-o"></i>'.html_safe, class: 'btn btn-danger'%></td>
                    </tr>
                <% end %>
                <tr>
                  <td><%=f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :movement_details, class: 'btn btn-success insert_in_table'%></td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <div class="pull-right">
        <%= f.submit 'Guardar', :class => "btn btn-primary active" %>
        <%= link_to 'Cancelar',  material_movements_path , class: 'btn btn-default' %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  Purchase.setSearchMaterial('<%= materials_search_path %>');
</script>
