<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Contrato</th>
    <th>Motivo</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% material_movements.each do |material_movement| %>
      <tr>
        <td><%= material_movement.date %></td>
        <td><%= material_movement.contract_name %></td>
        <td><%= material_movement.reason %></td>

        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, material_movement_path(material_movement), {:class => "btn btn-xs bg-teal btn-flat"} %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_material_movement_path(material_movement), {:class => "btn btn-xs bg-orange btn-flat"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
