<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped table-bordered table-hover data-table">
      <thead>
      <tr>
        <th>Fecha</th>
        <th>Contrato</th>
        <th>Motivo</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% material_movements.each do |material_movement| %>
          <tr>
            <td><%= material_movement.fecha %></td>
            <td><%= material_movement.contract_name %></td>
            <td><%= material_movement.motivo %></td>

            <td><%= link_to material_movement, class: 'btn btn-info active', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-eye"></span>
              <% end %>
              <%= link_to edit_material_movement_path(material_movement), class: 'btn btn-success active', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-edit"></span>
              <% end %>
              <%= link_to material_movement, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este registro?' }, class: 'btn btn-danger active', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-trash"></span>
              <% end %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
