<div class="box box-success">
  <div class="box-header with-border box-success">
    <h3 class="box-title"><%= t('helpers.title.material_movement.list') %></h3>
    <% if (can? :create, MaterialMovement) %>
        <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_material_movement_path, {:class => "btn btn-sm bg-green btn-title", :title => "Agregar Movimiento"} %>
    <% end %>
  </div>
  <div class="box-body">
    <div class="material_movement-search searchList">
      <%= search_form_for(@q, remote: true, :html => { class: 'remote-search' }) do |f| %>
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <%= f.text_field :contract_name_or_reason_cont, class: 'form-control', autocomplete: 'off', placeholder: 'Busca por contrato o motivo' %>
                <div class="input-group-btn">
                  <button type="submit" name="button" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          <div class="col-md-3">
            <div class="btn btn-default daterange btn-block" id="date-range">
              <%= f.hidden_field :date_gteq, class: 'fecha-desde' %>
              <%= f.hidden_field :date_gteq, class: 'fecha-hasta' %>
              <i class="fa fa-calendar"></i>&nbsp;<span>Fecha</span>&nbsp;<b class="caret"></b>
            </div>
          </div>
      <% end %>
      </div>
    </div>
    <div class="overlay-wrapper searchResult table-responsive" id="material-movements-table">
      <%= render 'list', :material_movements => @material_movements %>
    </div>
  </div>
  <div class="box-footer clearfix">
    <div id="paginate-container">
      <ul class="pagination pagination-sm no-margin pull-right">
        <%= paginate @material_movements %>
      </ul>
    </div>
  </div>
</div>