<p id="notice"><%= notice %></p>

<h1>Material Movements</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_movements.each do |material_movement| %>
      <tr>
        <td><%= material_movement.fecha %></td>
        <td><%= material_movement.motivo %></td>
        <td><%= link_to 'Show', material_movement %></td>
        <td><%= link_to 'Edit', edit_material_movement_path(material_movement) %></td>
        <td><%= link_to 'Destroy', material_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material Movement', new_material_movement_path %>
