<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.material_movement.show') %></h3>
  </div>
  <div class="box-body">
    <div class="col-md-12 form-group">
      <div class="col-md-4 show-padding">
        <strong>Contrato:</strong>
        <%= @material_movement.contract_name %>
      </div>

      <div class="col-md-4 show-padding">
        <strong>Motivo:</strong>
        <%= @material_movement.reason %>
      </div>

      <div class="col-md-4 show-padding">
        <strong>Fecha:</strong>
        <%= @material_movement.date %>
      </div>
    </div>


    <div class="col-md-8">
        <table class="table table-bordered table-condensed table-list">
          <thead>
          <tr>
            <th>Material</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <% @material_movement.movement_details.each do |detalle| %>
              <tr>
                <td><%= detalle.material.name %></td>
                <td><%= number_to_currency_py(detalle.price) %></td>
                <td><%= detalle.quantity %></td>
                <td><%= number_to_currency_py(detalle.total) %></td>
              <tr>
          <% end %>
          </tbody>
        </table>
    </div>


  </div>
  <div class="box-footer">
    <div class="pull-right">
      <% if (can? :update, MaterialMovement) %>
          <%= link_to t('button.edit'), edit_material_movement_path(@material_movement), {:class => "btn btn-flat bg-blue"} %>
      <% end %>
      <%= link_to t('button.back'), url_for(:back), {:class => "btn btn-flat btn-default"} %>
    </div>
  </div>
</div>