<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.material_movement.show') %></h3>
  </div>
  <div class="box-body">
    <div class="col-md-12 form-group">
      <div class="col-md-4">
        <strong>Contrato:</strong>
        <%= @material_movement.contract_name %>
      </div>

      <div class="col-md-4">
        <strong>Motivo:</strong>
        <%= @material_movement.motivo %>
      </div>

      <div class="col-md-4">
        <strong>Fecha:</strong>
        <%= @material_movement.fecha %>
      </div>
    </div>

    <div class="col-md-12 form-group">
      <div class="col-md-8">
          <table class="table table-bordered table-condensed", cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Material</th>
              <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <% @material_movement.movement_details.each do |detalle| %>
                <td><%= detalle.material.name %></td>
                <td><%= detalle.cantidad %></td>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>

  </div>
  <div class="box-footer">
    <div class="pull-right">
      <%= link_to t('button.edit'), edit_material_movement_path(@material_movement), {:class => "btn btn-flat bg-blue"} %>
      <%= link_to t('button.back'), url_for(:back), {:class => "btn btn-flat btn-default"} %>
    </div>
  </div>
</div>