<div class="row">
  <h1 class="page-header">Movimiento de Materiales</h1>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-12">
          <div class="col-md-4">
            <strong>Contrato:</strong>
            <%= @material_movement.contract.name %>
          </div>

          <div class="col-md-4">
            <strong>Motivo:</strong>
            <%= @material_movement.motivo %>
          </div>

          <div class="col-md-4">
            <strong>Fecha:</strong>
            <%= @material_movement.fecha %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-8">
      <div class="form-group">
        <div class="panel panel-default">
          <table class="table table-striped table-bordered", cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Material</th>
              <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <% @material_movement.movement_details.each do |detalle| %>
                <td><%= detalle.material.name %></td>
                <td><%= detalle.cantidad %></td>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
  <%= link_to 'Editar', edit_material_movement_path(@material_movement), :class => 'btn btn-primary active' %>
  <%= link_to 'Atras', material_movements_path, :class => 'btn btn-default' %>
  </div>
</div>

<div>
  <br><br><br>
  <%= render 'table' %>
  <br>
</div>