<%= form_for internal_certification, validate: true, :html => { class: 'form-horizontal' } do |f| %>
    <div class="box-body box-success">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :contract_id, 'Contrato:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-9">
            <%= f.collection_select(:contract_id, Contract.all, :id, :name, {prompt: 'Seleccionar'}, :class => 'form-control') %>
          </div>
        </div>
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :employee_id, 'Jornalero:', :class => 'control-label tooltip_required'%>
          </div>
          <div class="col-md-9">
            <%= f.collection_select(:employee_id, Employee.all, :id, :name, {prompt: 'Seleccionar'}, :class => 'form-control') %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :amount, 'Monto:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-9">
            <%= f.number_field :amount, :class => 'form-control', :maxlength => 12 %>
          </div>
        </div>

        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :discount, 'Descuento:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.number_field :discount, :class => 'form-control', :maxlength => 50 %>
          </div>
        </div>


      </div>
      <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-md-3">
          <%= f.label :date, 'Fecha:', :class => 'control-label tooltip_required' %>
        </div>
        <div class="input-group col-md-3">
          <%= f.text_field :date, :id => 'datepickerFrom', :class => 'input-group date form-control datepicker' %><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
      </div>
    </div>

    <div class="box-footer">
      <div class="pull-right">
        <%= f.submit 'Guardar', :class => "btn btn-primary active" %>
        <%= link_to 'Cancelar', internal_certifications_path, :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>