<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped table-bordered table-hover data-table">
      <thead>
      <tr>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Descuento</th>
        <th>Jornalero</th>
        <th>Contrato</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% internal_certifications.each do |certification| %>
          <tr>
            <td><%= certification.date %></td>
            <td><%= certification.amount %></td>
            <td><%= certification.discount %></td>
            <td><%= certification.employee.name %></td>
            <td><%= certification.contract.name %></td>
            <td><%= link_to certification, class: 'btn btn-info active', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-eye"></span>
              <% end %>
              <%= link_to edit_internal_certification_path(certification), class: 'btn btn-success active', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "fa fa-edit"></span>
              <% end %>
              </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
