<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.account_employee.show') %></h3>
  </div>
  <div class="box-body">

    <div class="field col-md-12 form-group">

        <div class="col-md-6">
          <strong>Certificación:</strong>
          <%= @account_employee.certification %>
        </div>

        <div class="col-md-6">
          <strong>Fecha:</strong>
          <%= @account_employee.date %>
        </div>

    </div>
    <div class="field col-md-12 form-group">
        <div class="col-md-6">
          <strong>N. factura/recibo:</strong>
          <%= @account_employee.number_bill %>
        </div>
        <div class="col-md-6">
          <strong>Monto pagado:</strong>
          <%= number_to_currency_py(@account_employee.pay) %>
        </div>
    </div>
    <div class="field col-md-12 form-group">
      <div class="col-md-6">
        <strong>Empleado:</strong>
        <%= @account_employee.employee_name %>&nbsp;<%= @account_employee.employee_last_name %>
      </div>
      <div class="col-md-6">
        <strong>Documento:</strong>
        <%= @account_employee.employee_identification_document %>
      </div>
    </div>
    <div class="field col-md-12 form-group">
      <div class="col-md-6">
        <strong>Saldo:</strong>
        <%= number_to_currency_py(@account_employee.employee.balance)%>
      </div>
    </div>

  </div>
  <div class="box-footer">
    <div class="pull-right">
      <%= link_to 'Atrás', account_employees_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
<style>
  td {
    width: 11em;
    word-wrap: break-word;
  }
</style>
