<table class="table table-bordered table-condensed table-list">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Observación</th>
    <th>Fecha de creación</th>
    <th class="table-actions"></th>
  </tr>
  </thead>
  <tbody>
    <% roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td><%= l role.created_at, format: :long%></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, role_path(role), {:class => "btn btn-xs bg-teal"} %>
          <% if (can? :update, Role) %>
          <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_role_path(role), {:class => "btn btn-xs bg-orange"} %>
              <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
