<%= form_for(material) do |f| %>
    <% if material.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

          <ul>
            <% material.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <form class="form-horizontal">

        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group">
            <div class="col-sm-2">
              <%= f.label :name, 'Nombre:' %>
            </div>
            <div class="col-sm-8 ">
              <%= f.text_field :name, autofocus: true, :class => 'form-control' %>
            </div>
          </div>

          <div class="field col-md-6 form-group">
            <div class="col-sm-2">
              <%= f.label :description, 'Descripcion:' %>
            </div>
            <div class="col-sm-9">
              <%= f.text_field :description, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="field col-md-12 form-group">
          <br>
          <div class="field col-md-3 form-group">
            <div class="col-sm-4">

              <%= f.label :quantity, 'Cantidad:' %>
            </div>
            <div class="col-sm-6 ">
              <%= f.text_field :quantity, :class => 'form-control' %>
            </div>
          </div>
          <div class="field col-md-3 form-group">
            <div class="col-sm-4">
              <%= f.label :measurement_unit, 'Ud. de medida:' %>
            </div>
            <div class="col-sm-4   ">
              <%= f.text_field :measurement_unit, :class => 'form-control' %>
            </div>
          </div>

          <div class="field col-md-3 form-group">
            <div class="col-sm-4">
              <%= f.label :price, 'Precio:' %>
            </div>
            <div class="col-sm-7 ">
              <%= f.text_field :price, :class => 'form-control' %>
            </div>
          </div>


          <div class="field col-md-3 form-group">
            <div class="col-sm-5">
              <%= f.label :minimun_stock, 'Stock minimo:' %>
            </div>
            <div class="col-sm-5 ">
              <%= f.number_field :minimun_stock, :class => 'form-control' %>
            </div>
          </div>
        </div>

        <div class="field col-md-12 form-group">
          <br>
          <div class="field col-md-3 form-group">
          <% if controller.action_name == 'edit'  %>
              <%= f.submit 'Guardar', :class => "btn btn-primary" %>
          <% else %>
              <%= f.submit 'Agregar', :class => 'btn btn-primary'%>
          <% end %>
            <%= link_to 'Cancelar', materials_path, :class => 'btn btn-default' %>
          <% end %>
          </div>
          </div>

      </form>
    </div>

