<div class="panel panel-default">
  <h1 class="panel-heading"> Lista de Materiales </h1>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Unidad medida</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th colspan="3">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <% @materials.each do |material| %>
            <tr>
              <td><%= material.nombre %></td>
              <td><%= material.descripcion %></td>
              <td><%= material.unidad_medida %></td>
              <td><%= material.cantidad %></td>
              <td><%= material.precio %></td>

              <td><%= link_to 'Ver', material %></td>
              <td><%= link_to 'Editar', edit_material_path(material) %></td>
              <td><%= link_to 'Eliminar', material, method: :delete, data: {confirm: 'Estas seguro?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


