<div class="box box-success">
  <div class="box-header with-header box-success">
    <h3 class="page-header">Material</h3>
  </div>
  <div class="box-body">
    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <div class="col-sm-3 label-pad">
          <strong>Nombre:</strong>
        </div>
        <div class="col-sm-7 show-padding">
          <%= @material.name %>
        </div>
      </div>

      <div class="field col-md-4 form-group">
        <div class="col-sm-4 label-pad">
          <strong>Descripcion:</strong>
        </div>
        <div class="col-sm-7 show-padding">
          <%= @material.description %>
        </div>
      </div>

      <div class="field col-md-4 ">
        <div class="col-sm-3 label-pad ">
          <strong>Cantidad:</strong>
        </div>
        <div class="col-sm-6 show-padding">
          <%= @material.quantity %>
        </div>
      </div>
    </div>
    <div class="field col-md-12">
      <br>
      <div class="field col-md-4">
        <div class="col-sm-5 label-pad ">
          <strong>Ud. de medida:</strong>
        </div>
        <div class="col-sm-5 show-padding">
          <%= @material.measurement_unit %>
        </div>
      </div>

      <div class="field col-md-4">
        <div class="col-sm-2">
          <strong>Precio:</strong>
        </div>
        <div class="col-sm-6 ">
          <%= @material.price %>
        </div>
      </div>

      <div class="field col-md-4 ">
        <div class="col-sm-5 label-pad">
          <strong>Stock minimo:</strong>
        </div>
        <div class="col-sm-3 show-padding">
          <%= @material.minimun_stock %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <div class="pull-right">
      <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_material_path(@material), :class => 'btn btn-primary active' %>
      <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, materials_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
