<div id="page-wrapper">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel panel-heading">Ver Material</div>
      <p id="notice"><%= notice %></p>
      <div class="panel-body">
        <p>
          <strong>Nombre:</strong>
          <%= @material.nombre %>
        </p>

        <p>
          <strong>Descripcion:</strong>
          <%= @material.descripcion %>
        </p>

        <p>
          <strong>Unidad medida:</strong>
          <%= @material.unidad_medida %>
        </p>

        <p>
          <strong>Cantidad:</strong>
          <%= @material.cantidad %>
        </p>

        <p>
          <strong>Precio:</strong>
          <%= @material.precio %>
        </p>
      </div>
      <div class="panel-footer">

        <%= link_to 'Editar', edit_material_path(@material), :class => 'btn btn-default'  %> |
        <%= link_to 'Atras', materials_path %>
      </div>
    </div>
  </div>
</div>