<%= nested_form_for client_certification, validate: true, :html => { class: 'form-horizontal' } do |f| %>

    <div class="box-body box-success">
      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :contract, 'Obra:', :class => 'control-label  tooltip_required' %>
          </div>
          <div class="col-md-8 ">
            <%= f.collection_select(:contract_id, Contract.all.order('name'), :id, :name, {prompt: 'Ninguno'}, :onchange => 'buscarRub(this);', :class => 'form-control', :disabled => 'disabled') %>
          </div>
        </div>
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :received, 'Recibido por:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :received, value: current_user.full_name.titleize, :class => 'form-control', :readonly => true %>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :date, 'Fecha:', :class => 'control-label tooltip_required' %>
          </div>
          <div class="input-group col-md-7">
            <%= f.text_field :date, :id => 'datepickerFrom', :class => 'input-group date form-control datepicker'%><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group">
          <div class="col-md-3">
            <%= f.label :observation, 'Observación:', :class => 'control-label' %>
          </div>
          <div class="col-md-9">
            <%= f.text_area :observation, :class => 'form-control', cols: '20', rows: '5', :maxlength => 200 %>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Rubros a certificar:</h3>
          </div>
          <div class="box-body">
            <table id="table" class="table table-bordered">
              <thead>
                <tr>
                  <th class="col-md-3">Rubro</th>
                  <th class="col-md-2">Cantidad hecha</th>
                  <th class="col-md-2">Cantidad faltante</th>
                  <th class="col-md-2">Precio(Gs)</th>
                  <th class="col-md-2">Total(Gs)</th>
                  <th class="col-md-1"> </th>
                </tr>
              </thead>
              <tbody>
              <%= f.fields_for :client_certification_details, :wrapper => false do |form| %>
                  <tr class="fields" onchange='getRubroTotal(this);'>
                    <td><%=form.collection_select(:budget_detail_id, client_certification.budget_details.pending, :id, :rubro_name, {prompt: 'Seleccionar'}, :onchange => 'getRubroPrice(this);', class: 'form-control')%></td>
                    <td><%=form.number_field :quantity, class: 'form-control amount_to_certify'%></td>
                    <td><%=form.number_field :total_quantity, class: 'form-control quantity', :readonly => true%></td>
                    <td><%=form.number_field :price, class: 'form-control price', :readonly => true%></td>
                    <td><%=form.number_field :total, class: 'form-control total', :readonly => true%></td>
                    <td><%=form.link_to_remove '<i class="fa fa-trash"></i>'.html_safe, class: 'btn btn-danger'%></td>
                  </tr>
              <% end %>
              <td>
                <%=f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :client_certification_details, class: ' insert_in_table btn btn-flat bg-green'%>
              </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <%= f.hidden_field :contract_id, :class => 'form-control' %>

    <div class="box-footer">
      <div class="pull-right">
        <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
        <%= link_to 'Cancelar', client_certifications_path, :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>
