<div class="box box-success">
  <div class="box-header with-border box-success">
    <h3 class="box-title"><%= t('helpers.title.client_certification.list') %></h3>
    <% if (can? :create, ClientCertification) %>
        <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_client_certification_path, {:class => "btn btn-sm btn-flat bg-green btn-title", :title => "Agregar Certificación"} %>
    <% end %>
  </div>
  <div class="box-body">
    <div class="client_certification-search searchList">
      <%= search_form_for(@q, remote: true, :html => { class: 'remote-search' }) do |f| %>
          <div class="input-group">
            <%= f.text_field :contract_name_or_state_cont, class: 'form-control', autocomplete: 'off', placeholder: 'Busca por obra y estado' %>
            <div class="input-group-btn">
              <button type="submit" name="button" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
      <% end %>
    </div>
    <div class="overlay-wrapper searchResult table-responsive" id="client_certifications-table">
      <%= render 'list', :client_certifications => @client_certifications %>
    </div>
  </div>
  <div class="box-footer clearfix">
    <div id="paginate-container">
      <ul class="pagination pagination-sm no-margin pull-right">
        <%= paginate @client_certifications %>
      </ul>
    </div>
  </div>
</div>