<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.client_certification.show') %></h3>
  </div>
  <div class="box-body">

    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-md-2">
          <strong>Obra:</strong>
        </div>
        <div class="col-md-8 show-padding">
          <%= @client_certification.contract_name %>
        </div>
      </div>

      <div class="field col-md-6 form-group">
        <div class="col-md-2">
          <strong>Fecha:</strong>
        </div>
        <div class="col-md-7 show-padding">
          <%= @client_certification.date %>
        </div>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-md-3">
          <strong>Observaciones:</strong>
        </div>
        <div class="col-md-7 show-padding">
          <%= @client_certification.observation %>
        </div>
      </div>
      <div class="field col-md-6 form-group">
        <div class="col-md-3">
          <strong>Recibido por:</strong>
        </div>
        <div class="col-md-7 show-padding">
          <%= @client_certification.received %>
        </div>
      </div>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title">Rubros a certificar:</h3>
    </div>

    <div class="col-md-12 form-group">
      <table class="table table-bordered table-condensed table-list">
        <thead>
        <tr>
          <th>Rubro</th>
          <th>Precio</th>
          <th>Cantidad hecha</th>
          <th>Cantidad total</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <% @client_certification.client_certification_details.each do |detail| %>
            <tr>
              <td><%= detail.budget_detail.rubro_name %>
              <td><%=  number_to_currency_py(detail.price) %>
              <td><%= detail.quantity %>
              <td><%= detail.total_quantity %>
              <td><%= number_to_currency_py(detail.total) %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <div class="box-footer">
    <div class="pull-right">
      <% if (can? :update, ClientCertification) %>
      <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, edit_client_certification_path(@client_certification), :class => 'btn bg-orange' %>
          <% end %>
      <%= link_to "<i class=\"fa fa-arrow-left\"></i>".html_safe, client_certifications_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
