<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.client_certification.show') %></h3>
  </div>
  <div class="box-body">

    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <div class="col-md-3">
          <strong>Obra:</strong>
        </div>
        <div class="col-md-8">
          <%= @client_certification.contract_name %>
        </div>
      </div>

      <div class="field col-md-4 form-group">
        <div class="col-md-4">
          <strong>Fecha:</strong>
        </div>
        <div class="col-md-7">
          <%= @client_certification.date %>
        </div>
      </div>

      <div class="field col-md-4 form-group">
        <div class="col-md-3">
          <strong>Estado:</strong>
        </div>
        <div class="col-md-7">
          <%= @client_certification.state %>
        </div>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group">
        <div class="col-md-3">
          <strong>Observaciones:</strong>
        </div>
        <div class="col-md-7">
          <%= @client_certification.observation %>
        </div>
      </div>
      <div class="field col-md-6 form-group">
        <div class="col-md-3">
          <strong>Recibido por:</strong>
        </div>
        <div class="col-md-7">
          <%= @client_certification.received %>
        </div>
      </div>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title">Rubros a certificar:</h3>
    </div>

    <div class="col-md-12 form-group">
      <table class="table table-bordered table-condensed">
        <thead>
        <tr>
          <th class="col-md-3">Rubro</th>
          <th class="col-md-2">Precio</th>
          <th class="col-md-2">Cantidad hecha</th>
          <th class="col-md-2">Cantidad total</th>
          <th class="col-md-3">Total</th>
        </tr>
        </thead>
        <tbody>
        <% @client_certification.client_certification_details.each do |detail| %>
            <tr>
              <td class="col-md-3"><%= detail.rubro.name %>
              <td class="col-md-2"><%=  number_to_currency_py(detail.price) %>
              <td class="col-md-2"><%= detail.quantity %>
              <td class="col-md-2"><%= detail.total_quantity %>
              <td class="col-md-3"><%= number_to_currency_py(detail.total) %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <div class="box-footer">
    <div class="pull-right">
      <%= link_to 'Editar', edit_client_certification_path(@client_certification), :class => 'btn btn-primary active' %>
      <%= link_to 'Atras', client_certifications_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
