<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "On Project" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "On Project" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <!-- Bootstrap Core CSS -->
  </head>
  <body>
      <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <strong class="on-color">On</strong>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- /.navbar-header -->

          <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
              <a class="dropdown-toggle text-lateral" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil de usuario</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuraciones</a>
                </li>
                <li class="divider"></li>
                <li><%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out fa-fw"></i> Salir
                <% end %></li>
              </ul>
              <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->
          <br>
          <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
              <ul class="nav" id="side-menu">
                <li>
                  <a href="/welcome/index" class="text-lateral"><i class="fa fa-bars fa-fw"></i>Panel Principal</a>
                </li>

                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-user fa-fw"></i>Proveedores</a>
                </li>
                <li>
                  <a href="/clients" class="text-lateral"><i class="fa fa-user fa-fw"></i>Clientes</a>
                </li>
                <li>
                  <a href="/materials" class="text-lateral"><i class="fa fa-shopping-cart fa-fw"></i>Materiales</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-arrows-h fa-fw"></i>Movimiento de Materiales</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-list-alt fa-fw"></i>Facturas de Compras</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-edit fa-fw"></i>Contratos</a>
                </li>
                <li>
                  <a href="/users" class="text-lateral"><i class="fa fa-users fa-fw"></i>Usuarios</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-briefcase fa-fw"></i>Servicios</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-file fa-fw"></i>Presupuestos</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-file fa-fw"></i>Certificaciones del Cliente</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-user fa-fw"></i>Jornaleros</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-list-alt fa-fw"></i>Facturas de venta</a>
                </li>
                <li>
                  <a href="#" class="text-lateral"><i class="fa fa-list fa-fw"></i>Certificaciones Internas</a>
                </li>

              </ul>
            </div>
            <!-- /.sidebar-collapse -->
          </div>
          <!-- /.navbar-static-side -->
        </nav>
      </div>
      <!-- /#wrapper -->

      <!-- Contenido -->
      <%= yield %>
  </body>
</html>
