<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "On Project" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "On Project" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>ON</b>Project</a>
      </div>
      <div class="login-box-body">
        <p class="login-box-msg" style="font-size: 30px;"><%= t('helpers.login.messages.title_login') %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
