<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "On Project" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "On Project" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <!-- Bootstrap Core CSS -->
  </head>
  <body data-action="new" data-controller="sessions" role="login">
    <h1 class="welcome-login text-center">Ingresar a OnProject</h1>
    <div class="container" style="margin-top:70px">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
